<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<p><strong><%= tooltip(NodeDatabaseInstanceAssignment,:node) %>:</strong> <br /><%= f.select :node_id, Node.find(:all, :order => 'name').collect { |n| [ n.name, n.id ] }, { :include_blank => true } %></p>
<p><strong><%= tooltip(NodeDatabaseInstanceAssignment,:database_instance) %>:</strong> <br /><%= f.select :database_instance_id, DatabaseInstance.find(:all, :order => 'name').collect { |d| [ d.name, d.id ] }, { :include_blank => true } %></p>
<p><strong><%= tooltip(NodeDatabaseInstanceAssignment,:assigned_at) %>:</strong> <br/><%= f.datetime_select :assigned_at %></p>

<%= @tooltips if ttflag %>
