<%- @page_title = "Datacenter VIP Assignment: " + h(@datacenter_vip_assignment.datacenter.name) + '<->' + h(@datacenter_vip_assignment.vip.name) %>

<div class="record_view">

<h1>Datacenter VIP Assignment</h1>

<p><strong>Datacenter:</strong> <%= h(@datacenter_vip_assignment.datacenter.name) %><br />
<strong>VIP:</strong> <%= h(@datacenter_vip_assignment.vip.name) %><br />
<strong>Priority:</strong> <%= h(@datacenter_vip_assignment.priority) %><br />

<strong>Assigned at:</strong> <%= h(@datacenter_vip_assignment.assigned_at.to_formatted_s(:long)) %></p>

<p class="metadata"><strong>Created at:</strong> <%= h(@datacenter_vip_assignment.created_at) %><br />
<strong>Updated at:</strong> <%= h(@datacenter_vip_assignment.updated_at) %></p>

</div>

<p><%= link_to 'Edit', edit_datacenter_vip_assignment_path(@datacenter_vip_assignment) %> | 
<%= link_to 'Delete', datacenter_vip_assignment_path(@datacenter_vip_assignment), :confirm => 'Are you sure?', :method => :delete %></p>

<%= render :partial => 'shared/version_information', :locals => { :object => @datacenter_vip_assignment} %>
