<%- @page_title = 'Nodes Unassigned to Rack' %>
<h1>Nodes Unassigned to Rack</h1>

<table width="100%">
<tr>
<td>
<%= page_entries_info @objects %>
</td>
</tr>
</table>

<div id="results_table">
<table cellspacing="0" class="styled">
<thead>
<%= will_paginate @objects %>
<tr>
  <th nowrap="nowrap" width="5%">&nbsp;</th>
  <th <%= sort_td_class_helper "name" %> > <%= sort_link_helper "Name", "name" %></th>
  <th <%= sort_td_class_helper "rack" %> > <%= sort_link_helper "Rack", "rack" %></th>
</tr>
</thead>
<tbody>
<%= render :partial => 'racks_unassigned_row', :collection => @objects %>
</tbody>
</table>
</div> <!-- end results_table div -->
