<%- @tooltips = [] %>
<%- @page_title = 'Unused ' + tooltip(Node,:operating_systems) %>
<h1>Unused <%= tooltip(Node,:operating_systems) %></h1>

<table width="100%">
<tr>
<td>
<%= page_entries_info @objects %>
</td>
</tr>
</table>

<div id="results_table">
<%= will_paginate @objects %>
<table cellspacing="0" class="styled">
<thead>
<tr>
  <th nowrap="nowrap" width="5%">&nbsp;</th>
  <th <%= sort_td_class_helper "name" %> > <%= sort_link_helper "Name", "name" %></th>
  <th>Node Members</th>
</tr>
</thead>
<tbody>
<%= render :partial => 'unused_operating_systems', :collection => @objects %>
</tbody>
</table>
</div> <!-- end results_table div -->

<%= @tooltips %>
