<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<% remote_form_for( :volume_node_assignment, :url => {:controller => 'volume_node_assignments',:action => :create, :div => 'volume_node_assignments'} ) do |f| %>
  <p><%= tooltip(Volume,:node) %>:
  
  <%- node_array = Node.def_scope.find(:all,:select => 'id,name', :order => :name).collect { |r| [ r.name, r.id ] } -%>
  
  <%= f.select( :node_id, node_array, { :include_blank => true } ) %>
  <%= f.text_field :mount %>
  <%= f.hidden_field( :volume_id, { :value => @volume.id } ) %>
  
  <%= submit_tag "Assign" %> | <%= link_to_function 'Cancel', "Element.show('add_node_assignment_link');Element.hide('create_node_assignment')"%></p>

<% end %>

<%= @tooltips if ttflag %>
