<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<tr class="<%= cycle('odd', 'even') -%>">
  <td nowrap="nowrap" width="5%"><%= link_to 'View', self.send(index_row.class.to_s.underscore + '_path', index_row) %> / <%= link_to 'Edit', self.send('edit_' + index_row.class.to_s.underscore + '_path', index_row) %>
  <td><%= link_to index_row.name, self.send(index_row.class.to_s.underscore + '_path', index_row) %></td>
  <td><%= link_to index_row.volume_server.name, index_row.volume_server %></td>
  <td><%= index_row.volume_type %></td>
  <td><%= index_row.nodes.size %></td>
</tr>

<%= @tooltips if ttflag %>
