<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<p><strong><%= tooltip(Volume,:name) %>:</strong> <em>*</em> <br/><%= f.text_field :name %></p>
<p><strong><%= tooltip(Volume,:volume_type) %>:</strong> <em>*</em> <br/><%= f.text_field :volume_type %></p>
<p><strong><%= tooltip(Volume,:volume_server) %>:</strong> <em>*</em> <br/><%= f.select :volume_server_id, @volume_servers %></p>
<p><strong><%= tooltip(Volume,:description) %>:</strong> <br/><%= f.text_area :description, {"cols" => 60, "rows" => 4} %> </p>

<%= @tooltips if ttflag %>
