<p><strong>Address</strong> <em>*</em> <br /> <%= f.text_field :address %></p>

<p><strong>Address type</strong> <em>*</em> <br /> <%= f.text_field :address_type %></p>

<p><strong>Network interface</strong> <br /> <%= %></p>

<p><strong>Netmask</strong> <br /> <%= f.text_field :netmask %></p>

<p><strong>Broadcast</strong> <br /> <%= f.text_field :broadcast %></p>

