<%- @page_title = "IP Address: " + h(@ip_address.address) %>

<div class="record_view">

<h1>Address: <%=h @ip_address.address %></h1>

<p><strong>Network interface:</strong> <%= link_to h(@ip_address.network_interface.name), network_interface_url(@ip_address.network_interface_id) if !@ip_address.network_interface_id.nil? %></p>

<p><strong>Address type:</strong> <%= h(@ip_address.address_type) %></p>
<p><strong>Netmask:</strong> <%= h(@ip_address.netmask) %></p>
<p><strong>Broadcast:</strong> <%= h(@ip_address.broadcast) %></p>

<p class="metadata"><strong>Created at:</strong> <%= h(@ip_address.created_at) %><br />
<strong>Updated at:</strong> <%= h(@ip_address.updated_at) %></p>

</div>

<div class="relationship">

<%= render :partial => 'shared/comments', :locals => { :object => @ip_address} %>

</div> <!-- end relationship -->

<p><%= link_to 'Edit', edit_ip_address_path(@ip_address) %> | 
<%= link_to 'Delete', ip_address_path(@ip_address), :confirm => 'Are you sure?', :method => :delete %></p>

<%= render :partial => 'shared/version_information', :locals => { :object => @ip_address} %>
