<%- if node.node_group_node_assignments.count > 0 -%>
  <strong>Node Group Tree</strong><br /><br />
  <%= link_to 'View Diagram', :action => "graph_node_groups", :id => @node %><br /><br />
  <table cellspacing="0" class="styled" summary="A list of the node groups assigned to this node.">
  <caption>Node Groups</caption>
  <thead>
  <tr>
      <th>Name</th>
      <th>Assigned at</th>
      <th>Owner</th>
      <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%- for assignment in node.real_node_group_node_assignments.sort{|a,b| a.node_group.name <=> b.node_group.name} %>
  <tr class="<%= cycle('odd', 'even') -%>" id="<%= dom_id(assignment) %>">
      <td><%= link_to assignment.node_group.name, node_group_path(assignment.node_group) %></td>
      <td><%= link_to h(assignment.assigned_at.to_formatted_s(:long)), node_group_node_assignment_path(assignment) %></td>
      <td><%= mail_to assignment.node_group.owner %></td>
      <td><%= link_to_remote 'Delete',
                              :url => node_group_node_assignment_path(assignment),
                              :confirm => 'Are you sure?',
                              :method => :delete %></td>
  </tr>
  <%- end %>
  </tbody>
  </table>

  <table cellspacing="0" class="styled" summary="A list of the node groups virtually assigned to this node.">
  <caption>Virtual Node Groups</caption>
  <thead>
  <tr>
      <th>Name</th>
      <th>Member through</th>
      <th>Assigned at</th>
      <th>Owner</th>
      <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%- for assignment in node.virtual_node_group_node_assignments.sort{|a,b| a.node_group.name <=> b.node_group.name} %>
  <tr class="<%= cycle('odd', 'even') -%>" id="<%= dom_id(assignment) %>">
      <td><%= link_to assignment.node_group.name, node_group_path(assignment.node_group) %></td>
      <td>
      <%- rngs = [] -%>
      <%- node.real_node_groups.each do |rng| -%>
        <%- if rng.all_parent_groups.include?(assignment.node_group) -%>
          <%- rngs << rng.name -%>
        <%- end -%>
      <%- end -%>
      <%- if (rngs.empty?) || (rngs.nil?) -%>
        <%= "<b><font color='red'>** ROGUE VIRTUAL - BAD DATABASE RECORD **</b></font>" %>
      <%- else -%>
        <ul>
        <%- rngs.each do |rng| -%>
          <%= "<li>#{rng}</li>" %>
        <%- end -%>
        </ul>
      <%- end -%>
      </td>
      <td><%= link_to h(assignment.assigned_at.to_formatted_s(:long)), assignment %></td>
      <td><%= mail_to assignment.node_group.owner %></td>
  </tr>
  <%- end %>
  </tbody>
  </table>
<%- else -%>
  <strong>Node Groups</strong><br /><br />
  <p>This node is not assigned to any node groups.</p>
<%- end -%>
