<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<% @tooltips = [] %>
<h2><%= tooltip(@node.class,:name) %>:</h2> <em>*</em> <br/><%= f.text_field :name %></p>
<p><strong><%= tooltip(@node.class,:status) %>:</strong> <em>*</em> <br /><%= f.select :status_id, Status.find(:all, :order => 'name').collect { |s| [ s.name, s.id ] }, { :include_blank => true } %></p>
<p><strong><%= tooltip(@node.class,:contact) %>:</strong> (comma separated list) <br/><%= f.text_field :contact %></p>
<p><strong><%= tooltip(@node.class,:expiration) %>:</strong> <br/><%= f.datetime_select(:expiration,:include_blank => true) %></p>

<p><strong><%= tooltip(@node.class,:cfg_mgmt_tag,'Configuration Management Tag') %>:</strong> <br/><%= f.text_field :config_mgmt_tag %></p>
<p><strong><%= tooltip(@node.class,:hardware_profile) %>:</strong> <em>*</em> <br /><%= f.select :hardware_profile_id, HardwareProfile.find(:all, :order => 'name').collect { |h| [ h.name, h.id ] }, { :include_blank => true } %></p>
<p><strong><%= tooltip(@node.class,:virtualarch,'Virtual Architecture') %>:</strong><br /><%= f.text_field :virtualarch %></p>

<p><strong><%= tooltip(@node.class,:serial_number) %>:</strong> <br/><%= f.text_field :serial_number %></p>
<p><strong><%= tooltip(@node.class,:asset_tag) %>:</strong> <br/><%= f.text_field :asset_tag %></p>
<p><strong><%= tooltip(@node.class,:uniqueid,'Unique ID') %>:</strong> <br/><%= f.text_field :uniqueid %></p>

<p><strong><%= tooltip(@node.class,:processor_manufacturer) %>:</strong> <br /><%= f.text_field :processor_manufacturer %> </p>
<p><strong><%= tooltip(@node.class,:processor_model) %>:</strong> <br /><%= f.text_field :processor_model %> </p>
<p><strong><%= tooltip(@node.class,:processor_speed) %>:</strong> <br /><%= f.text_field :processor_speed %> </p>
<p><strong><%= tooltip(@node.class,:processor_socket_count) %>:</strong> <br /><%= f.text_field :processor_socket_count %> </p>
<p><strong><%= tooltip(@node.class,:processor_count) %>:</strong> <br /><%= f.text_field :processor_count %> </p>
<p><strong><%= tooltip(@node.class,:processor_core_count) %>:</strong> <br /><%= f.text_field :processor_core_count %> </p>
<p><strong><%= tooltip(@node.class,:os_processor_count) %>:</strong> <br /><%= f.text_field :os_processor_count %> </p>
<p><strong><%= tooltip(@node.class,:os_virtual_processor_count) %>:</strong> <br /><%= f.text_field :os_virtual_processor_count %> </p>

<p><strong><%= tooltip(@node.class,:physical_memory) %>:</strong> <br /><%= f.text_field :physical_memory %> </p>
<p><strong><%= tooltip(@node.class,:physical_memory_sizes) %>:</strong> <br /><%= f.text_field :physical_memory_sizes %> </p>
<p><strong><%= tooltip(@node.class,:os_memory) %>:</strong> <br /><%= f.text_field :os_memory %> </p>
<p><strong><%= tooltip(@node.class,:swap) %>:</strong> <br /><%= f.text_field :swap %> </p>

<p><strong><%= tooltip(@node.class,:power_supply_count) %>:</strong> <br /><%= f.text_field :power_supply_count %> </p>

<p><strong><%= tooltip(@node.class,:console_type) %>:</strong> <br /><%= f.select :console_type, Node.allowed_console_types.collect { |ct| [ ct, ct ] } %></p>

<p><strong><%= tooltip(@node.class,:operating_system) %>:</strong> <br /><%= f.select :operating_system_id, OperatingSystem.find(:all, :order => 'name').collect { |o| [ o.name, o.id ] }, { :include_blank => true } %></p>

<p><strong><%= tooltip(@node.class,:preferred_operating_system) %>:</strong> <br /><%= f.select :preferred_operating_system_id, OperatingSystem.find(:all, :order => 'name').collect { |o| [ o.name, o.id ] }, { :include_blank => true } %></p>

<p><strong><%= tooltip(@node.class,:kernel_version) %>:</strong> <br /><%= f.text_field :kernel_version %> </p>

<p><strong><%= tooltip(@node.class,:timezone) %>:</strong> <br /><%= f.text_field :timezone %> </p>

<p><strong><%= tooltip(@node.class,:network_interfaces) %>:</strong> <br />FIXME </p>

<p><strong><%= tooltip(@node.class,:description) %>:</strong> <br /><%= f.text_area :description, {"cols" => 60, "rows" => 4} %> </p>

<% f.fields_for :hardware_lifecycle do |hdwr_lfccle| %>
<p><strong><%= tooltip(hdwr_lfccle.class,:ship_date) %>:</strong> <br/><%= hdwr_lfccle.datetime_select(:ship_date,:include_blank => true) %></p>
<p><strong><%= tooltip(hdwr_lfccle.class,:out_of_service_date) %>:</strong> <br/><%= hdwr_lfccle.datetime_select(:out_of_service_date,:include_blank => true) %></p>
<% end %>

<%= @tooltips %>

<%= @tooltips if ttflag %>
