<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<%- if node.hardware_profile.outlet_count.nil? || node.hardware_profile.outlet_count <= 0 %>
  <p><strong><%= tooltip(@node.class,:outlets) %>:</strong></p>
  <p>
    <%= "Although this node is a <strong>#{node.hardware_profile.outlet_type.downcase}</strong> outlet type," %>
    <%= "its <strong>HardwareProfile</strong> (#{link_to node.hardware_profile.name, node.hardware_profile})" %>
    <%= " 'outlet count' #{ node.hardware_profile.outlet_count.nil? ? "is not configured for any ports" : "is configured for 0 ports"}" %>
  </p>
<%- elsif (node.hardware_profile.outlet_count > 0 && (node.produced_outlets.empty? || node.produced_outlets.size <= 0)) -%>
  <p><strong><%= tooltip(@node.class,:outlets) %>:</strong></p>
  <p>
    <%= "Although this node hosts <strong>#{node.hardware_profile.outlet_count} #{node.hardware_profile.outlet_type.downcase}" %>
    <%= "</strong> outlets, there aren't any consumers assigned to it." %>
  </p>
<%- elsif !node.hardware_profile.outlet_count.nil? && node.produced_outlets.count > 0 -%> 
  <table cellspacing="0" class="styled" summary="A list of the outlets supplied by this node.">
  <caption><%= node.hardware_profile.outlet_type %> Outlets</caption>
  <thead>
  <tr>
      <th><%= tooltip(Outlet,:name) %></th>
      <th><%= tooltip(Outlet,:consumer) %></th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%- for outlet in node.produced_outlets %>
  <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to outlet.name, outlet %></td>
      <td id="<%= dom_id(outlet) %>">
      <%- if outlet.consumer.nil? -%>
        n/a
      <%- else -%>
        <%- if outlet.consumer_type == "NetworkInterface" %>
          <%= link_to "#{outlet.consumer.node.name}:#{outlet.consumer.name}", outlet.consumer %>
        <%- else -%>
          <%= link_to outlet.consumer.name, outlet.consumer %>
        <%- end -%>
      <%- end -%>
      </td>
      <td><%= link_to_remote "Assign", :url => {:controller => "outlets", :action => :edit, :id => outlet.id, :consumer_type => "NetworkInterface"} , :method => :get, :update => dom_id(outlet)%></td>
      <td><%= link_to_remote 'Delete',
                              :url => "/outlets/#{outlet.id}",
                              :confirm => 'Are you sure?',
                              :method => :delete %></td>
  </tr>
  <%- end %>
  </tbody>
  </table>
<%- end -%>

<%= @tooltips if ttflag %>
