<% @tooltips = [] %>
<%- @page_title = "Node: " + h(@node.name) %>

<div class="record_view">

<h1><%= tooltip(nil,:nodes,'Node',nodes_tooltip) %>: <%=h @node.name %></h1>

<p>
<strong><%= tooltip(@node.class,:name_aliases,'Aliases') %></strong> 
</p>
<div id="name_aliases">
  <%= render :partial => 'name_aliases', :locals => { :node => @node } %>
</div>
<div id="create_name_alias">
  <%= render :partial => 'create_name_alias' %>
</div>
<p id="add_name_alias_link">
  <%= render :partial => 'add_name_alias_link' if allow_perm(@node, ['updater'])  %>
</p>

<p><strong><%= tooltip(@node.class,:status)%>:</strong> <%= link_to h(@node.status.name), status_url(@node.status) %><br />
<strong><%= tooltip(@node.class,:contact) %>:</strong> 
<%- unless @node.contact.nil? %>
  <%- contacts = [] %>
  <%- @node.contact.split(',').each do |login| -%>
    <%- SSO_AUTH_SERVER ? (contacts << link_to(login,"https://#{SSO_AUTH_SERVER}/users?login=#{login}")) : (contacts << login) %>
  <%- end -%>
<%- end -%>
<%= contacts.join(', ') unless contacts.nil? || contacts.empty? %>
</br>
<p><strong><%= tooltip(@node.class,:config_mgmt_tag,'Configuration Management Tag')%>: <font color=brown> <%= @node.config_mgmt_tag %></font></strong></p>
<p>
<strong><%= tooltip(@node.class,:logins,'Logins Today') %>:</strong> <%= @logins_today %><br />
<strong><%= tooltip(@node.class,:cpu_percent,'CPU % (Today)') %>:</strong> <%= @percent_cpu_today %><br />
</p>
<p><strong><%= tooltip(@node.class,:expiration) %>:</strong> <%= @node.expiration %><br />

<strong><%= tooltip(@node.class,:hardware_profile)%></strong> <%= link_to h(@node.hardware_profile.name), hardware_profile_url(@node.hardware_profile) %><br /></p>

<p>
<!-- VM? -->
<%- if ( @node.virtual_guest? || @node.virtual_host? || (!@node.virtualarch.nil? && !@node.virtualarch.empty?) ) -%>
  <%- if @node.virtualarch.nil? -%>
    <%= "<strong><font color=purple>" + tooltip(@node.class,:virtualarch,'Virtual Architecture') +":</strong> Unknown</font><br />" %>
  <%- else -%>
    <%= "<strong><font color=purple>" + tooltip(@node.class,:virtualarch,'Virtual Architecture') + ":</strong> #{@node.virtualarch.capitalize}</font><br />" %>
  <%- end -%>
  <%- unless (@node.virtual_guest? || @node.virtual_host?) -%>
    <%= "<strong><font color=purple>" + tooltip(@node.class,:virtualmode, 'Virtual Mode') + ":</strong> Unknown</font><br />" %>
  <%- else -%>
    <%= "<strong><font color=purple>" + tooltip(@node.class,:virtualmode, 'Virtual Mode') + ":</strong> " %>
    <%- if (@node.virtual_guest?) -%>
      <%= "Guest<br /><strong>" + tooltip(@node.class,:virtual_host) + ":</strong> #{link_to @node.virtual_host.name,@node.virtual_host}</font><br />" %>
      <%= "<strong><font color=purple>" + tooltip(@node.class,:vmimg_size,'VM Image Size') + ":</strong> #{@node.vmimg_size.to_i / 1024 } MB</font><br />" unless @node.vmimg_size.nil? %>
      <%= "<strong><font color=purple>" + tooltip(@node.class,:vmspace_used,'VM Space Used') + ":</strong> #{@node.vmspace_used.to_i / 1024 } MB</font><br />" unless @node.vmspace_used.nil? %>
    <%- elsif (@node.virtual_host?) -%>
      <%= "Host</strong></font><br />" %>
    <%- end -%>
  <%- end -%>
<%- end -%>
<!-- BLADE? -->
<%- if blade_results = @node.consumed_blade -%>
    <%= "<strong><font color=purple>" + tooltip(@node.class,:blade_enclosure) + ":</strong> #{blade_results[0].producer.name}</font><br />" %>
    <%= "<strong><font color=purple>" + tooltip(@node.class,:blade_slot) + ":</strong> #{blade_results[0].name}</font><br />" %>
<%- end -%>
</p>

<p>
<strong><%= tooltip(@node.class,:used_space,'Diskspace Used') %>:</strong> 
<%= "#{@node.used_space.to_i / 1024} MB" unless @node.used_space.nil? %>
<%= "(#{ @node.used_space.to_i * 100 / (@node.avail_space.to_i + @node.used_space.to_i)}%)" unless (@node.used_space.nil? || @node.avail_space.nil?) %><br />
<strong><%= tooltip(@node.class,:avail_space,'Diskspace Avail') %> :</strong>
<%= "#{@node.avail_space.to_i / 1024  } MB" unless @node.avail_space.nil? %>
<%= "(#{ @node.avail_space.to_i * 100 / (@node.avail_space.to_i + @node.used_space.to_i)}%)" unless (@node.used_space.nil? || @node.avail_space.nil?) %><br />
<small><i>(Disk space info only reflects "/" and "/home")</i></small>
</p>

<p>
<strong><%= tooltip(@node.class,:serial_number) %>:</strong> <%= h(@node.serial_number) %><br />
<strong><%= tooltip(@node.class,:asset_tag) %>:</strong> <%= h(@node.asset_tag) %><br />
<strong><%= tooltip(@node.class,:uniqueid,'Unique ID') %>:</strong> <%= h(@node.uniqueid) %><br />

<strong><%= tooltip(@node.class,:processor_manufacturer) %>:</strong> <%=h @node.processor_manufacturer %><br />
<strong><%= tooltip(@node.class,:processor_model) %>:</strong> <%=h @node.processor_model %><br />
<strong><%= tooltip(@node.class,:processor_speed) %>:</strong> <%=h @node.processor_speed %><br />
<strong><%= tooltip(@node.class,:processor_socket_count) %>:</strong> <%=h @node.processor_socket_count %><br />
<strong><%= tooltip(@node.class,:processor_count) %>:</strong> <%=h @node.processor_count %><br />
<strong><%= tooltip(@node.class,:processor_core_count) %>:</strong> <%=h @node.processor_core_count %><br />
<strong><%= tooltip(@node.class,:os_processor_count) %>:</strong> <%=h @node.os_processor_count %><br />
<strong><%= tooltip(@node.class,:os_virtual_processor_count) %>:</strong> <%=h @node.os_virtual_processor_count %><br />

<strong><%= tooltip(@node.class,:physical_memory) %>:</strong> <%=h @node.physical_memory %><br />
<strong><%= tooltip(@node.class,:physical_memory_sizes) %>:</strong> <%=h @node.physical_memory_sizes %><br />
<strong><%= tooltip(@node.class,:os_memory) %>:</strong> <%=h @node.os_memory %><br />
<strong><%= tooltip(@node.class,:swap) %>:</strong> <%=h @node.swap %><br />

<strong><%= tooltip(@node.class,:power_supply_count) %>:</strong> <%=h @node.power_supply_count %><br />

<strong><%= tooltip(@node.class,:console_type) %>:</strong> <%=h @node.console_type %><br />

<strong><%= tooltip(@node.class,:operating_system) %>:</strong> 
<%- if @node.operating_system -%>
<%= link_to h(@node.operating_system.name), operating_system_url(@node.operating_system) %>
<%- end -%>
<br />
<strong><%= tooltip(@node.class,:preferred_operating_system) %>:</strong> 
<%- if @node.preferred_operating_system -%>
<%= link_to h(@node.preferred_operating_system.name), operating_system_url(@node.preferred_operating_system) %>
<%- end -%>
<br />

<strong><%= tooltip(@node.class,:kernel_version) %>:</strong> <%=h @node.kernel_version %><br />

<strong><%= tooltip(@node.class,:timezone,'Time Zone') %>:</strong> <%=h @node.timezone %><br />

<p><strong><%= tooltip(@node.class,:description) %>:</strong><br />
<%= textilize_without_paragraph(h(@node.description)) %></p>

<p class="metadata"><strong><%= tooltip(@node.class,:created_at) %>:</strong> <%= h(@node.created_at) %><br />
<strong><%= tooltip(@node.class,:updated_at) %>:</strong> <%= h(@node.updated_at) %></p>

</div>

<p id="view_cpu_percent_link">
  <%= render :partial => 'view_cpu_percent_link' %>
</p>
<div id="cpu_percent_chart">
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
  <p><%= @cpu_percent_chart %></p>
  <p><br /><%= button_to_function 'Hide CPU Utilization % Chart', "Element.show('view_cpu_percent_link');Element.hide('cpu_percent_chart')"%></p>
</div>

<div class="relationship">
<div id="no_volumes">
<%= "<h2>" + tooltip(VolumeNodeAssignment,:volume,'Network Volumes') + "</h2>" if ( @node.volumes_served.empty? ) && (@node.volumes_mounted.empty?) %>
</div>
<div id="volume_served">
<%= render :partial => 'volume_served', :locals => { :node => @node } %>
  </div>
  <div id="create_volume_served">
    <%= render :partial => 'create_volume_served' %>
  </div>
  <p id="add_volume_served_link">
    <%= render :partial => 'add_volume_served_link' if allow_perm(@node, ['updater']) %>
  </p>

  <div id="volume_mounted">
    <%= render :partial => 'volume_mounted', :locals => { :node => @node } %>
  </div>
  <div id="create_volume_mounted">
    <%= render :partial => 'create_volume_mounted' %>
  </div>
  <p id="add_volume_mounted_link">
    <%= render :partial => 'add_volume_mounted_link' if allow_perm(@node, ['updater']) %>
  </p>
</div> <!-- end relationship -->

<div class="relationship">
  <div id="node_group_node_assignments">
  <%= render :partial => 'node_group_assignments', :locals => { :node => @node} %>
  </div>
  
  <div id="create_node_group_assignment">
  <%= render :partial => 'create_node_group_assignment', :locals => { :node => @node } %>
  </div>
  <p id="new_node_group">
  
  </p>
  
  <p id="add_node_group_assignment_link">
  <%= render :partial => 'add_node_group_link', :locals => { :node => @node }  if allow_perm(@node, ['updater'])%>
  </p>
</div> <!-- end relationship -->

<!-- List Guest VMs if this is a VM host -->
<%- if @node.virtual_host? -%>
  <div class="relationship">
    <div id="virtual_assignments">
      <%= render :partial => 'virtual_assignments', :locals => { :node => @node} %>
    </div> <!-- end virtual_assignments -->

    <div id="create_virtual_assignment">
      <%= render :partial => 'shared/create_virtual_assignment', :locals => { :node => @node } %>
    </div>

    <p id="add_virtual_assignment_link">
      <%= render :partial => 'shared/add_virtual_inline_link', :locals => { :node => @node } if allow_perm(@node, ['updater']) %>
    </p>
  </div> <!-- end relationship -->
<%- end -%>

<!-- BEGIN SERVICES RELATIONSHIPS -->
<div class="relationship">
  <%- if @node.services? %>
    <h2><%= tooltip(@node.class,:services,'Service Tree') %></h2>
    <%= link_to 'View Diagram', :action => "graph_services", :id => @node, :title => 'GraphViz diagram of services hierarchy' %><br /><br />
    <h3><%= tooltip(@node.class, :service_clients) %>:</h3>
    <%- if @child_services.size > 0 -%>
      <ul>
      <%- @node.services.each do |ng| -%>
        <%- if ng.child_services.size > 0 -%>
          <%= link_to ng.name, service_path(ng) %>
          <ul>
          <div id="child_service_assignments">
            <%= render :partial => 'node_groups/child_service_assignment', :collection => ng.service_assignments_as_parent %>
          </div>
          </ul>
        <%- end -%>
      <%- end -%>
      </ul>
    <%- else -%>
      <p>There are no child services for this node </p>
    <%- end -%>
    <h3><%= tooltip(@node.class,:service_parents) %>:</h3>
    <%- if @parent_services.size > 0 -%>
      <ul>
      <%- @node.services.each do |ng| -%>
        <%- if ng.parent_services.size > 0 -%>
          <%= link_to ng.name, service_path(ng) %>
          <ul>
          <div id="parent_service_assignments">
            <%= render :partial => 'node_groups/parent_service_assignment', :collection => ng.service_assignments_as_child %>
          </div>
          </ul>
        <%- end -%>
      <%- end -%>
      </ul>
    <%- else -%>
      <p>There are no parent services for this node </p>
    <%- end -%>
  <%- else -%>
    <h2><%= tooltip(@node.class,:services,'Service Tree') %></h2><br /><br />
    <p>This node does not have any service dependencies.</p>
  <%- end -%>
</div>
<!-- END SERVICES RELATIONSHIPS -->

<!-- START NETWORK INTERFACE relationship -->
<%= render :partial => 'network_interfaces', :locals => {:node => @node} %>
<!-- end NETWORK INTERFACE relationship -->

<!-- START STORAGE RELATIONSHIP -->
<div class="relationship">
  <p>
  <h2><%= tooltip(@node.class,:storage_controllers) %>:</h2>
  <%- if @node.storage_controllers.length > 0 -%>
    <ul>
    <%- @node.storage_controllers.each do |sc| -%>
      <%= "<li>" + link_to(sc.name, sc) + "</li>" %>
      <%- if sc.drives %>
        <ul>
        <%- sc.drives.each do |drive| -%>
          <%= "<li>" + link_to(drive.name,drive) %>
          <%= (drive.size > 1073741824 ? "[#{drive.size/1024/1024/1024} GB]" :"[#{drive.size/1024/1024} MB]") if drive.size %>
          <%= "</li>" %>
          <%- if drive.volumes -%>
            <ul>
            <%- drive.volumes.each do |vol| -%>
              <%= "<li>" + link_to("#{vol.name}",vol) -%>
              <%= "(#{vol.volume_type})" if vol.volume_type %>
              <%= (vol.capacity> 1073741824 ? "[#{vol.capacity/1024/1024/1024} GB]" : "[#{vol.capacity/1024/1024} MB]") if vol.capacity%>
              <%= "</li>" %>
            <%- end -%>
            </ul>
          <%- end -%>
        <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
    </ul>
  <%- else -%>
    <p>This node does not have any storage controllers.</p>
  <%- end -%>
  </p>
</div>
<!-- END STORAGE RELATIONSHIP -->

<%- unless @node.virtual_guest? -%>
  <div class="relationship">
    <div id="node_rack_node_assignments">
      <%= render :partial => 'node_rack_assignment', :locals => { :node => @node} %>
    </div> <!-- end node_rack_node_assignments -->
  
    <div id="create_node_rack_assignment">
      <%= render :partial => 'shared/create_assignment_reverse', :locals => { :from => 'node_rack', :to => 'node'} %>
    </div>
    
    <p id="new_node_rack">
    
    </p>
    
    <p id="add_node_rack_assignment_link">
      <%= render :partial => 'shared/add_inline_link_reverse', :locals => { :from => 'node_rack', :to => 'node'} if allow_perm(@node, ['updater']) %>
    </p>
  </div> <!-- end relationship -->
<%- end -%>


<!-- This displays all the "outlets" whether network or console ports or power outlets that this node serves to other nodes -->
<%- unless @node.hardware_profile.outlet_type.nil? || @node.hardware_profile.outlet_type.blank? -%>
  <div class="relationship">
    <div id="outlets">
      <%= render :partial => 'outlets', :locals => { :node => @node } %>
    </div>

<%- if false -%>
    <div id="create_outlet">
      <%= render :partial => 'shared/create_outlet', :locals => { :node => @node } %>
    </div>
<%- end -%>
    <p id="new_outlet">

    </p>
    <p id="add_outlet_link"> <%= render :partial => 'shared/add_node_outlet_link', :locals => {:node => @node} if allow_perm(@node, ['updater'])  %> </p>   

  </div> <!-- end relationship -->
<%- end -%>

<div class="relationship">
<h2><%= tooltip(@node.class,:produced_outlets,'Smart Relationships') %></h2>
  <div id="smart_relationships">
    <%= render :partial => 'smart_relationships', :locals => { :node => @node } %>
  </div>
</div> <!-- end smartrelationship -->

<%= javascript_tag "Element.hide('create_node_group_assignment')" %>
<%= javascript_tag "Element.hide('create_outlet')" %>
<%= javascript_tag "Element.hide('create_virtual_assignment')" %>
<%= javascript_tag "Element.hide('create_node_rack_assignment')" %>
<%= javascript_tag "Element.hide('create_volume_served')" %>
<%= javascript_tag "Element.hide('create_volume_mounted')" %>
<%= javascript_tag "Element.hide('create_name_alias')" %>
<%= javascript_tag "Element.hide('hide_port_link')" %>
<%= javascript_tag "Element.hide('show_nmap_link')" %>
<%= javascript_tag "Element.hide('cpu_percent_chart')" %>
<%= javascript_tag "Element.hide('add_outlet_link')" if @node.hardware_profile.outlet_count.nil? || (((@node.hardware_profile.outlet_count <= @node.produced_outlets.size) && !@node.produced_outlets.empty?) unless @node.hardware_profile.outlet_count == 0) %>
<% if @node.node_rack %>
  <%= javascript_tag "Element.hide('add_node_rack_assignment_link')" %>
<% end %>
<%= javascript_tag "_node_id = "+@node.id.to_s %>

<%= @tooltips %>
