<%- @page_title = "Node: " + h(@node.name) %>

<div class="record_view">

<h1>Node: <%=h @node.name %></h1>

<strong>Alternate Names:</strong> <%= h(@node.alternate_names) %><br />

<p><strong>Status:</strong> <%= link_to h(@node.status.name), status_url(@node.status) %><br />
<strong>Contacts:</strong> 
<ul>
<%- unless @node.contact.nil? %>
  <%- @node.contact.split(',').each do |login| -%>
    <%= "<li>" %>
    <%= link_to login,Account.find_by_login(login) %>
    <%= "</li>" %>
  <%- end -%>
<%- end -%>
</ul>
</br>
<p><strong>Expiration:</strong> <%= @node.expiration %><br />

<strong>Hardware Profile:</strong> <%= link_to h(@node.hardware_profile.name), hardware_profile_url(@node.hardware_profile) %><br />
<%- if ( @node.virtual_guest? || @node.virtual_host? || (!@node.virtualarch.nil? && !@node.virtualarch.empty?) ) -%>
  <%- if @node.virtualarch.nil? -%>
    <%= "<strong><font color=purple>Virtual Architecture: Unknown</font></strong><br />" %>
  <%- else -%>
    <%= "<strong><font color=purple>Virtual Architecture: #{@node.virtualarch.capitalize}</font></strong><br />" %>
  <%- end -%>
  <%- unless (@node.virtual_guest? || @node.virtual_host?) -%>
    <%= "<strong><font color=purple>Virtual Mode: Unknown</strong></font><br />" %>
  <%- else -%>
    <%= "<strong><font color=purple>Virtual Mode: " %>
    <%- if (@node.virtual_guest?) -%>
      <%= "Guest<br />Virtual Host: #{link_to @node.virtual_host.name,@node.virtual_host}</strong></font><br />" %>
    <%- elsif (@node.virtual_host?) -%>
      <%= "Host</strong></font><br />" %>
    <%- end -%>
  <%- end -%>
<%- end -%>

<strong>Serial Number:</strong> <%= h(@node.serial_number) %><br />
<strong>Asset Tag:</strong> <%= h(@node.asset_tag) %><br />
<strong>Unique ID:</strong> <%= h(@node.uniqueid) %><br />

<strong>Processor manufacturer:</strong> <%=h @node.processor_manufacturer %><br />
<strong>Processor model:</strong> <%=h @node.processor_model %><br />
<strong>Processor speed:</strong> <%=h @node.processor_speed %><br />
<strong>Processor socket count:</strong> <%=h @node.processor_socket_count %><br />
<strong>Processor count:</strong> <%=h @node.processor_count %><br />
<strong>Processor core count:</strong> <%=h @node.processor_core_count %><br />
<strong>OS processor count:</strong> <%=h @node.os_processor_count %><br />

<strong>Physical memory:</strong> <%=h @node.physical_memory %><br />
<strong>Physical memory sizes:</strong> <%=h @node.physical_memory_sizes %><br />
<strong>OS memory:</strong> <%=h @node.os_memory %><br />
<strong>Swap:</strong> <%=h @node.swap %><br />

<strong>Power supply count:</strong> <%=h @node.power_supply_count %><br />

<strong>Console type:</strong> <%=h @node.console_type %><br />

<strong>Operating System:</strong> 
<%- if @node.operating_system -%>
  <%= link_to h(@node.operating_system.name), operating_system_url(@node.operating_system) %>
<%- end -%>
<br />
<strong>Preferred Operating System:</strong> 
<%- if @node.preferred_operating_system -%>
  <%= link_to h(@node.preferred_operating_system.name), operating_system_url(@node.preferred_operating_system) %>
<%- end -%>
<br />

<strong>Kernel version:</strong> <%=h @node.kernel_version %><br />

<strong>Timezone:</strong> <%=h @node.timezone %><br />

<p><strong>Description:</strong><br />
<%= textilize_without_paragraph(h(@node.description)) %></p>

<p class="metadata"><strong>Created at:</strong> <%= h(@node.created_at) %><br />
<strong>Updated at:</strong> <%= h(@node.updated_at) %></p>

</div>

<div class="relationship">

<div id="node_group_node_assignments">
<%= render :partial => 'node_group_assignments', :locals => { :node => @node} %>
</div>

<div id="create_node_group_assignment">
<%= render :partial => 'shared/create_assignment_reverse', :locals => { :from => 'node_group', :to => 'node'} %>
</div>

<p id="new_node_group">

</p>

<p id="add_node_group_assignment_link">
<%= render :partial => 'shared/add_inline_link_reverse', :locals => { :from => 'node_group', :to => 'node'} %>
</p>

</div> <!-- end relationship -->

<!-- List Guest VMs if this is a VM host -->
<%- if @node.virtual_host? -%>
  <div class="relationship">
    <div id="virtual_assignments">
      <%= render :partial => 'virtual_assignments', :locals => { :node => @node} %>
    </div> <!-- end virtual_assignments -->
  </div> <!-- end relationship -->
<%- end -%>

<!-- BEGIN SERVICES RELATIONSHIOPS -->
<div class="relationship">
  <%- if @node.services? %>
    <strong>Services Tree</strong><br /><br />
    <%= link_to 'View Diagram', :action => "graph_services", :id => @node %><br /><br />
    <strong>Services Clients (depend on this node):</strong>
    <%- if @child_services.size > 0 -%>
      <ul>
      <%- @node.node_groups.each do |ng| -%>
        <%- if ng.child_services.size > 0 -%>
          <%= link_to ng.name, node_group_path(ng) %>
          <ul>
          <div id="child_service_assignments">
            <%= render :partial => 'shared/child_service_assignment', :collection => ng.service_assignments_as_parent %>
          </div>
          </ul>
        <%- end -%>
      <%- end -%>
      </ul>
    <%- else -%>
      <p>There are no child services for this node </p>
    <%- end -%>
    <strong>Services Dependencies (this node depends upon):</strong>
    <%- if @parent_services.size > 0 -%>
      <ul>
      <%- @node.node_groups.each do |ng| -%>
        <%- if ng.parent_services.size > 0 -%>
          <%= link_to ng.name, node_group_path(ng) %>
          <ul>
          <div id="parent_service_assignments">
            <%= render :partial => 'shared/parent_service_assignment', :collection => ng.service_assignments_as_child %>
          </div>
          </ul>
        <%- end -%>
      <%- end -%>
      </ul>
    <%- else -%>
      <p>There are no parent service dependencies for this node </p>
    <%- end -%>
  <%- else -%>
    <strong>Service Dependencies</strong><br /><br />
    <p>This node does not have any service dependencies</p>
  <%- end -%>
</div>
<!-- END SERVICES RELATIONSHIPS -->


<div class="relationship">

<%= render :partial => 'shared/comments', :locals => { :object => @node} %>

</div> <!-- end relationship -->

<div class="relationship">

<p>
<strong>NICs:</strong>
<%- if @node.network_interfaces.length > 0 -%>
  <ul>
  <%- @node.network_interfaces.each do |nic| -%>
    <li>
      <%= link_to nic.name, network_interface_url(nic) %>
      <%- if nic.interface_type.to_s == "Ethernet" && nic.switch_port %>
        <%= "=>" %>
        <%= link_to "port: #{nic.switch_port.name} (#{nic.switch_port.producer.name})" , nic.switch_port %>
      <% end %>
    </li>
    <ul>
    <%- nic.ip_addresses.each do |ip| -%>
      <li><%= link_to ip.address, ip_address_url(ip) %></li>
    <%- end -%>
    </ul>
  <%- end -%>
  </ul>
<%- else -%>
  <p>This node does not have any network interfaces defined.</p>
<%- end -%>
</p>

</div> <!-- end relationship -->

<div class="relationship">
  <div id="rack_node_assignments">
    <%= render :partial => 'rack_assignment', :locals => { :node => @node} %>
  </div> <!-- end rack_node_assignments -->

  <div id="create_rack_assignment">
    <%= render :partial => 'shared/create_assignment_reverse', :locals => { :from => 'rack', :to => 'node'} %>
  </div>
  
  <p id="new_rack">
  
  </p>
  
  <p id="add_rack_assignment_link">
    <%= render :partial => 'shared/add_inline_link_reverse', :locals => { :from => 'rack', :to => 'node'} %>
  </p>
</div> <!-- end relationship -->


<!-- This displays all the "outlets" whether network or console ports or power outlets that this node serves to other nodes -->
<%- unless @node.hardware_profile.outlet_type.nil? || @node.hardware_profile.outlet_type.blank? -%>
  <div class="relationship">
    <div id="outlets">
      <%= render :partial => 'outlets', :locals => { :node => @node } %>
    </div>

    <div id="create_outlet">
      <%= render :partial => 'shared/create_outlet', :locals => { :node => @node } %>
    </div>
    <p id="new_outlet">

    </p>
    <p id="add_outlet_link">
      <%= render :partial => 'shared/add_node_outlet_link' %>
    </p>   

  </div> <!-- end relationship -->
<%- end -%>

<div class="relationship">
<h3>Smart Relationships</h3>
  <div id="smart_relationships">
    <%= render :partial => 'smart_relationships', :locals => { :node => @node } %>
  </div>
</div> <!-- end smartrelationship -->


<p><%= link_to 'Edit', edit_node_path(@node) %> | 
<%= link_to 'Delete', node_path(@node), :confirm => 'Are you sure?', :method => :delete %></p>

<%= render :partial => 'shared/version_information', :locals => { :object => @node} %>

<%= javascript_tag "Element.hide('create_node_group_assignment')" %>
<%= javascript_tag "Element.hide('create_outlet')" %>
<%= javascript_tag "Element.hide('create_rack_assignment')" %>
<% if @node.rack %>
  <%= javascript_tag "Element.hide('add_rack_assignment_link')" %>
<% end %>

<%= javascript_tag "_node_id = "+@node.id.to_s %>
