<%- @tooltips = [] %>
<%- @page_title = "Dashboard" %>

<div id="dashboard_menu">

<h3><%= tooltip(nil,:nodes,nil,nodes_tooltip)%></h3>
<ul>
  Search by <%= tooltip(Node,:name,'name')%>: <% form_tag nodes_path, :method => :get do -%>
    <%= text_field_tag 'name' -%>
    <%= check_box_tag 'enable_aliases' %><%= tooltip(Node,:aliases,'include aliases') %><br/>
  <% end %>
  <br />
  <%- if @modelperms["Node"] -%><li><%= link_to 'Add New Node', new_node_path %></li><%- end -%>
  <%- if @modelperms["HardwareProfile"] -%><li><%= link_to 'Add New Hardware Profile', new_hardware_profile_path %></li><%- end -%>
  <li><%= link_to 'View All Nodes', nodes_path %></li>
  <li><%= dashboard_pulldown_form_for_model(Node, HardwareProfile.find(:all, :order => HardwareProfile.default_search_attribute)) %></li>
  <li><%= dashboard_pulldown_form_for_model(Node, OperatingSystem.find(:all, :order => OperatingSystem.default_search_attribute)) %></li>
  <li><%= dashboard_pulldown_form_for_model(Node, Status.find(:all, :order => Status.default_search_attribute)) %></li>
</ul>

<h3><%= tooltip(Rack,:datacenter,'Datacenters')%></h3>
<ul>
  <%- if @modelperms["Datacenter"] %><li><%= link_to 'Add New Datacenter', new_datacenter_path %></li><%- end -%>
  <li><%= link_to 'View All Datacenters', datacenters_path %></li>
  <li>
    <form action="" method="get">
      &nbsp;&nbsp;&nbsp;<select style="width:20em;" id="datacenter" name="" onchange="if (this.value != '') { window.location = '<%= datacenters_path %>/' + $('datacenter').value; }">
        <option value="">View Datacenter:</option>
        <%= options_from_collection_for_select(Datacenter.find(:all), 'id', 'name') %>
      </select>
    </form>
  </li>
</ul>

<h3>Reports</h3>
<ul>
  <li><%= link_to "Audits", audits_url, :title => mtitle(Audit) %></li>
  <form action="" method="get">
    &nbsp;&nbsp;&nbsp;<select style="width:10em;" id="report" name="" onchange="if (this.value != '') { window.location = '/reports/' + $('report').value; }">
      <option value="">View Report:</option>
      <%= options_for_select(list_reports) %>
    </select>
  </form>
</ul>

</div>

<div id="dashboard_body">


<table class="network_summary">
<caption>Network Summary</caption>
<tbody>
<tr>
    <td valign="top">
      <%= root_model_tooltip(Datacenter)%>: <%= Datacenter.count %><br/>
      <%= root_model_tooltip(NodeRack)%>: <%= NodeRack.count %><br/>
      <%= root_model_tooltip(Node)%>: <%= Node.count %><br/>
      <%= root_model_tooltip(Vip)%>: <%= Vip.count %><br/>
    </td>
</tr>
</tbody>
</table>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<p><center><%= @nodes_over_time_chart %></center></p>
<p><center><small>(<%= "based on sample data from <font color=green>#{@percent_cpu_node_count}</font> nodes" if @percent_cpu_node_count %>)</small></center>
<center><%= @global_cpu_percent_chart %></center></p>
<p><center><%= @operating_systems_pie %></center></p>
<p><center><%= @hardware_profiles_pie %></center></p>

</div>

<%- # Don't show the sample data link if the database already has some data -%>
<%- if !Datacenter.find(:first) && !NodeRack.find(:first) && !Node.find(:first) -%>
  <p><%= link_to "Setup Sample Data", { :action => "setup_sample_data" } %></p>
<%- end -%>
<%= @tooltips %>
