<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<% remote_form_for( :account_group_account_group_assignment, 
                    :url => { :controller => 'account_group_account_group_assignments', 
                              :partial => 'child_group_assignments',
                              :div => 'child_group_assgns',
                              :refcontroller => 'account_groups',
                              :refid => @account_group.id,
                              :action => :create }, 
                    :loading => "Element.show('add_childngs_spinner')",
                    :loaded => "Element.hide('add_childngs_spinner')" ) do |f| %>
  <p><%= tooltip(AccountGroup,:child_groups,'Child Group') %>:
  
  <%- account_group_array = AccountGroup.def_scope.find(:all, :order => :name).collect { |r| [ r.name, r.id ] } -%>

  <%= f.select( :child_id, account_group_array, { :include_blank => true } ) %>
  <%= f.hidden_field( :parent_id, { :value => @account_group.id } ) %>
  <%= submit_tag "Assign" %> 
  <%= " | #{link_to_function('Cancel', "Element.show('add_child_link');Element.hide('create_child_assignment')")}" %></p>
<% end %>

<%= @tooltips if ttflag %>
