<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<%- if account_group.assignments_as_child.count > 0 -%>
  <table cellspacing="0" class="styled" summary="A list of the parent account_groups assigned to this account_group.">
  <h3><%= tooltip(AccountGroup,:parent_groups) %></h3>
  <thead>
  <tr>
      <th><%= tooltip(AccountGroup,:name) %></th>
      <th><%= tooltip(AccountGroup,:assigned_at) %></th>
      <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%- for assignment in account_group.assignments_as_child.sort{|a,b| a.parent_group.name <=> b.parent_group.name} %>
  <tr class="<%= cycle('odd', 'even') -%>" id="<%= dom_id(assignment) %>">
      <td><%= link_to assignment.parent_group.name, account_group_path(assignment.parent_group) %></td>
      <td><%= link_to h(assignment.assigned_at.to_formatted_s(:long)), account_group_account_group_assignment_path(assignment) %></td>
      <td><%= link_to_remote('Delete',
                              :url => {:controller => 'account_group_account_group_assignments',
                                       :id => assignment.id, :refcontroller => 'account_groups',
                                       :partial => 'parent_group_assignments',
                                       :div => 'parent_group_assgns', :refid => account_group.id,
                                       :action => 'destroy'},
                              :confirm => 'Are you sure?',
                              :method => :delete) if allow_perm(assignment, ['destroyer']) %></td>
  </tr>
  <%- end %>
  </tbody>
  </table>
<%- else -%>
  <strong><%= tooltip(AccountGroup,:parent_groups) %></strong><br /><br />
  <p>This account_groups does not have any parents.</p>
<%- end -%>

<%= @tooltips if ttflag %>
