<%- @tooltips = [] %>
<%- @page_title = "Status: " + h(@status.name) %>

<div class="record_view">

<h1><%= tooltip(Node,:status) %>: <%=h @status.name %></h1>

<p><strong><%= tooltip(Status,:description) %>:</strong><br />
<%= textilize_without_paragraph(h(@status.description)) %></p>

<p class="metadata"><strong><%= tooltip(Status,:created_at) %>:</strong> <%= h(@status.created_at) %><br />
<strong><%= tooltip(Status,:updated_at) %>:</strong> <%= h(@status.updated_at) %></p>

</div>

<div class="relationship">

<%= render :partial => 'shared/comments', :locals => { :object => @status} %>

</div> <!-- end relationship -->

<p><%= link_to 'Edit', edit_status_path(@status) %> | 
<%= link_to 'Delete', status_path(@status), :confirm => 'Are you sure?', :method => :delete %></p>

<%= render :partial => 'shared/version_information', :locals => { :object => @status} %>

<%= @tooltips %>
