<%- @tooltips = [] %>
<%- @page_title =  "Volume Node Assignment: " + h(@volume_node_assignment.volume.name) + '<->' + h(@volume_node_assignment.node.name) %>

<div class="record_view">

<h1><%= tooltip(Volume,:volume_node_assignment) %></h1>

<p><strong><%= tooltip(VolumeNodeAssignment,:volume) %>:</strong> <%= link_to @volume_node_assignment.volume.name, @volume_node_assignment.volume %><br />
<strong><%= tooltip(VolumeNodeAssignment,:node) %>:</strong> <%= link_to @volume_node_assignment.node.name, @volume_node_assignment.node %><br />
<strong><%= tooltip(VolumeNodeAssignment,:mount) %>:</strong> <%= h(@volume_node_assignment.mount) %><br />
<strong><%= tooltip(VolumeNodeAssignment,:configf) %>:</strong> <%= h(@volume_node_assignment.configf) %><br />
<strong><%= tooltip(VolumeNodeAssignment,:assigned_at) %>:</strong> <%= h(@volume_node_assignment.assigned_at.to_formatted_s(:long)) %></p>

<p class="metadata"><strong><%= tooltip(VolumeNodeAssignment,:created_at) %>:</strong> <%= h(@volume_node_assignment.created_at) %><br />
<strong><%= tooltip(VolumeNodeAssignment,:updated_at) %>:</strong> <%= h(@volume_node_assignment.updated_at) %></p>

</div>

<p><%= link_to 'Edit', edit_volume_node_assignment_path(@volume_node_assignment) %> | 
<%= link_to 'Delete', volume_node_assignment_path(@volume_node_assignment), :confirm => 'Are you sure?', :method => :delete %></p>

<%= render :partial => 'shared/version_information', :locals => { :object => @volume_node_assignment} %>

<%= @tooltips %>
