<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<p><strong><%= tooltip(HardwareProfile,:name) %>:</strong> <em>*</em> <br /><%= f.text_field :name %> </p>
<p><strong><%= tooltip(HardwareProfile,:manufacturer) %>:</strong> <br /><%= f.text_field :manufacturer %> </p>
<p><strong><%= tooltip(HardwareProfile,:model) %>:</strong> <br /><%= f.text_field :model %> </p>
<p><strong><%= tooltip(HardwareProfile,:rack_size) %>:</strong> <br /><%= f.text_field :rack_size, :title => "In rack units (U)" %> </p>
<p><strong><%= tooltip(HardwareProfile,:memory) %>:</strong> <br /><%= f.text_field :memory %> </p>
<p><strong><%= tooltip(HardwareProfile,:disk) %>:</strong> <br /><%= f.text_field :disk %> </p>
<p><strong><%= tooltip(HardwareProfile,:nics) %>:</strong> <br /><%= f.text_field :nics, :title => "Standard or minimum number of NICs for this profile, individual nodes can override this if they have additional NICs." %> </p>
<p><strong><%= tooltip(HardwareProfile,:power_supply_slot_count) %>:</strong> <br /><%= f.text_field :power_supply_slot_count %> </p>
<p><strong><%= tooltip(HardwareProfile,:power_supply_count) %>:</strong> <br /><%= f.text_field :power_supply_count %> </p>
<p><strong><%= tooltip(HardwareProfile,:power_consumption) %>:</strong> <br /><%= f.text_field :power_consumption %> </p>
<p><strong><%= tooltip(HardwareProfile,:processor_manufacturer) %>:</strong> <br /><%= f.text_field :processor_manufacturer %> </p>
<p><strong><%= tooltip(HardwareProfile,:processor_model) %>:</strong> <br /><%= f.text_field :processor_model %> </p>
<p><strong><%= tooltip(HardwareProfile,:processor_speed) %>:</strong> <br /><%= f.text_field :processor_speed %> </p>
<p><strong><%= tooltip(HardwareProfile,:processor_socket_count) %>:</strong> <br /><%= f.text_field :processor_socket_count %> </p>
<p><strong><%= tooltip(HardwareProfile,:processor_count) %>:</strong> <br /><%= f.text_field :processor_count %> </p>
<p><strong><%= tooltip(HardwareProfile,:outlet_count) %>:</strong> <br /><%= f.text_field :outlet_count, :title => "Indicates how many outlets nodes with this profile produce. Set to 0 for dynamic allocation of outlets based on the number of outlet names specified when nodes using the profile are registered. Blank indicates this profile doesn't produce outlets." %> </p>
<p><strong><%= tooltip(HardwareProfile,:outlet_type) %>:</strong> <br /><%= f.select :outlet_type, HardwareProfile.allowed_outlet_types.collect { |ot| [ ot, ot ] } %></p>
<p><strong><%= tooltip(HardwareProfile,:cards) %>:</strong> <br /><%= f.text_field :cards %> </p>
<p><strong><%= tooltip(HardwareProfile,:visualization_color) %>:</strong> <br /><%= f.text_field :visualization_color %> </p>
<p><strong><%= tooltip(HardwareProfile,:estimated_cost) %>:</strong> <br /><%= f.text_field :estimated_cost %> </p>
<p><strong><%= tooltip(HardwareProfile,:description) %>:</strong> <br /><%= f.text_area :description, {"cols" => 60, "rows" => 4} %> </p>

<%= @tooltips if ttflag %>
