<p><strong>Name</strong> <em>*</em> <br /> <%= f.text_field :name %></p>

<p><strong>Interface type</strong> <br /> <%= f.text_field :interface_type %></p>

<p><strong>Node</strong> <br /> <%= %></p>

<p><strong>Is physical (real)?</strong> <br /> <%= f.check_box :physical %></p>

<p><strong>Hardware address</strong> <br /> <%= f.text_field :hardware_address %></p>

<p><strong>Interface up?</strong> <br /> <%= f.check_box :up %></p>

<p><strong>Link?</strong> <br /> <%= f.check_box :link %></p>

<p><strong>Speed</strong> <br /> <%= f.text_field :speed %></p>

<p><strong>Full duplex?</strong> <br /> <%= f.check_box :full_duplex %></p>

<p><strong>Auto-negotiate?</strong> <br /> <%= f.check_box :autonegotiate %></p>

