<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<p><strong><%= tooltip(Outlet,:name) %></strong> <em>*</em> <br /> <%= f.text_field :name %></p>
<p><strong><%= tooltip(HardwareProfile,:outlet_type) %>:</strong> <br />
  <%= select_tag "outlet_type", options_for_select([[" "]] + $outlet_types.sort) %>
</p>

<div id=indicator_div 
	style="postition: absolute; left: your_X px; top: your_Y px">
  <%= image_tag("spinner.gif", :id => 'spinner_gif_id', 
    :style => 'display:none') %>
</div>

<div id="producer_consumer">
  <p><strong><%= tooltip(Outlet,:producer) %>:<br /></strong>
    <%= select_tag nil %></p>
  <p><strong><%= tooltip(Outlet,:consumer) %>:<br /></strong>
    <%= select_tag nil %></p>
</div>

<%= observe_field("outlet_type",
        :frequency => 2,
        :update => :producer_consumer,
        :before => "Element.show('spinner_gif_id')",
        :success => "Element.hide('spinner_gif_id')",
        :url => { :action => :get_producer_consumer } ) %>

<%= @tooltips if ttflag %>
