<%- @page_title = "Datacenter Rack Assignment: " + h(@datacenter_rack_assignment.datacenter.name) + '<->' + h(@datacenter_rack_assignment.rack.name) %>

<%= render :partial => 'shared/deleted_message', :locals => { :object => @datacenter_rack_assignment} %>

<div class="record_view">

<h1>Datacenter Rack Assignment</h1>

<p><strong>Datacenter:</strong> <%= h(@datacenter_rack_assignment.datacenter.name) %><br />
<strong>Rack:</strong> <%= h(@datacenter_rack_assignment.rack.name) %><br />
<strong>Assigned at:</strong> <%= h(@datacenter_rack_assignment.assigned_at.to_formatted_s(:long)) %></p>

<p class="metadata"><strong>Created at:</strong> <%= h(@datacenter_rack_assignment.created_at) %><br />
<strong>Updated at:</strong> <%= h(@datacenter_rack_assignment.updated_at) %></p>

</div>

<%- if !@datacenter_rack_assignment.deleted_at -%>
<p><%= link_to 'Edit', edit_datacenter_rack_assignment_path(@datacenter_rack_assignment) %> | 
<%= link_to 'Delete', datacenter_rack_assignment_path(@datacenter_rack_assignment), :confirm => 'Are you sure?', :method => :delete %></p>
<%- end -%>

<%= render :partial => 'shared/version_information', :locals => { :object => @datacenter_rack_assignment} %>
