<p><strong>Name:</strong> <em>*</em> <br /> <%= f.text_field :name %> </p>
<p><strong>Vendor:</strong> <br /> <%= f.text_field :vendor %> </p>
<p><strong>Variant:</strong> <br /> <%= f.text_field :variant %> </p>
<p><strong>Version Number:</strong> <br /> <%= f.text_field :version_number %> </p>
<p><strong>Architecture:</strong> <br /> <%= f.text_field :architecture %> </p>
<p><strong>Description:</strong> <br /><%= f.text_area :description, {"cols" => 60, "rows" => 4} %> </p>
