<%- @tooltips = [] %>
<%- @page_title = "Operating System: " + h(@operating_system.name) %>

<div class="record_view">

<h1><%= tooltip(Node,:operating_system) %>: <%=h @operating_system.name %></h1>

<p><strong><%= tooltip(OperatingSystem,:vendor) %>:</strong> <%=h @operating_system.vendor %><br />
<strong><%= tooltip(OperatingSystem,:variant) %>:</strong> <%=h @operating_system.variant %><br />
<strong><%= tooltip(OperatingSystem,:version_number) %>:</strong> <%=h @operating_system.version_number %></p>
<strong><%= tooltip(OperatingSystem,:architecture) %>:</strong> <%=h @operating_system.architecture %></p>

<p><strong><%= tooltip(OperatingSystem,:description) %>:</strong><br />
<%= textilize_without_paragraph(h(@operating_system.description)) %></p>

<p class="metadata"><strong><%= tooltip(OperatingSystem,:created_at) %>:</strong> <%= h(@operating_system.created_at) %><br />
<strong><%= tooltip(OperatingSystem,:updated_at) %>:</strong> <%= h(@operating_system.updated_at) %></p>

</div>

<div class="relationship"><p><%= link_to 'Search', "#{nodes_path}?exact_operating_system=#{CGI.escape(@operating_system.name)}" %> for nodes with this operating system</p></div>

<%= @tooltips %>
