<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<%- if node_group.assignments_as_parent.count > 0 -%>
  <table cellspacing="0" class="styled" summary="A list of the child node_groups assigned to this node_group.">
  <caption><%= tooltip(NodeGroup,:child_groups) %></caption>
  <thead>
  <tr>
      <th><%= tooltip(NodeGroup,:name) %></th>
      <th><%= tooltip(NodeGroup,:nodes) %></th>
      <th><%= tooltip(NodeGroup,:assigned_at) %></th>
      <th><%= tooltip(NodeGroup,:owner) %></th>
      <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%- for assignment in node_group.assignments_as_parent.sort{|a,b| a.child_group.name <=> b.child_group.name} %>
  <tr class="<%= cycle('odd', 'even') -%>" id="<%= dom_id(assignment) %>">
      <td><%= link_to assignment.child_group.name, node_group_path(assignment.child_group) %></td>
	  <td><%= assignment.child_group.nodes.count %></th>
      <td><%= link_to h(assignment.assigned_at.to_formatted_s(:long)), node_group_node_group_assignment_path(assignment) %></td>
      <td><%= mail_to assignment.child_group.owner %></td>
      <td><%= link_to_remote 'Delete',
                              :url => node_group_node_group_assignment_path(assignment),
                              :confirm => 'Are you sure?',
                              :method => :delete %></td>
  </tr>
  <%- end %>
  </tbody>
  </table>
<%- else -%>
  <strong><%= tooltip(NodeGroup,:child_groups) %></strong><br /><br />
  <p>This node_group does not have any children.</p>
<%- end -%>

<%= @tooltips if ttflag %>
