<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<% remote_form_for( :service_service_assignment, :url => {:controller => 'service_service_assignments', :action => :create, :div => 'child_service_assgns' } ) do |f| %>
  <p><%= tooltip(ServiceServiceAssignment,:child_service) %>:
  
  <%- service_array = NodeGroup.find(:all,:joins => {:taggings => {:tag => {}}},:conditions => "tags.name = 'services'",:order => :name).collect { |r| [ r.name, r.id ] } -%>
  
  <%= f.select( :child_id, service_array, { :include_blank => true } ) %>
  <%= f.hidden_field( :parent_id, { :value => @node_group.id } ) %>

  <%= submit_tag "Assign", :onclick => "$('service_assignment_id').value = _child_id" %> | <%= link_to_function 'Cancel', "Element.show('add_child_service_link');Element.hide('create_child_service_assignment')"%></p>

<% end %>

<%= @tooltips if ttflag %>
