<div id="graffiti_list">
  <%= render :partial => 'graffiti_list', :locals => { :graffitis => @node_group.graffitis } %>
</div>

<p id="add_graffiti_link">
  <%- if allow_perm(@node_group, ['updater']) %>
    <%= link_to_function 'Add Graffiti', "Element.show('new_graffiti');Element.hide('add_graffiti_link')" %> 
  <%- end -%>
</p>

<div id="new_graffiti">
  <% remote_form_for :node_group, :url => {:action => :add_graffiti, :id => node_group.id } do %>
    <%= text_field_tag :name %>
    <%= text_field_tag :value %>
    <br/>
    <%= submit_tag "Add" %> | <%= link_to_function 'Cancel', "Element.hide('new_graffiti'); Element.show('add_graffiti_link')"%></p>
  <% end %>
</div>
