<p>
  <strong>Name</strong> <em>*</em> <br />
  <%= f.text_field :name %>
</p>

<p>
  <strong>Children</strong> <br />
  <% # FIXME: This belongs in the CSS %>
  <font size="-1">
  <%- NodeGroup.find(:all, :order => NodeGroup.default_search_attribute).each do |ng| -%>
    <%= check_box_tag('node_group_node_group_assignments[child_groups][]', ng.id, object.child_groups.include?(ng)) %> <%= ng.name %><br/>
  <%- end -%>
  </font>
</p>

<p>
  <strong>Nodes</strong> <br />
  <% # FIXME: This belongs in the CSS %>
  <font size="-1">
  <%- Node.find(:all, :order => Node.default_search_attribute).each do |node| -%>
    <%= check_box_tag('node_group_node_assignments[nodes][]', node.id, object.real_nodes.include?(node)) %> <%= node.name %><br/>
  <%- end -%>
  </font>
</p>

<p>
  <strong>Description</strong> <br />
  <%= f.text_area :description, {"cols" => 30, "rows" => 4}  %>
</p>

