<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<%- if service.service_assignments_as_child.count > 0 -%>
  <table cellspacing="0" class="styled" summary="A list of the parent services assigned to this service.">
  <caption><%= tooltip(NodeGroup,:parent_services,'Service Parents') %></caption>
  <thead>
  <tr>
      <th><%= tooltip(NodeGroup,:name) %></th>
      <th><%= tooltip(NodeGroup,:assigned_at) %></th>
      <th><%= tooltip(NodeGroup,:owner) %></th>
      <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%- for assignment in service.service_assignments_as_child.sort{|a,b| a.parent_service.name <=> b.parent_service.name} %>
  <tr class="<%= cycle('odd', 'even') -%>" id="<%= dom_id(assignment) %>">
      <td><%= link_to assignment.parent_service.name, node_group_path(assignment.parent_service) %></td>
      <td><%= link_to h(assignment.assigned_at.to_formatted_s(:long)), service_service_assignment_path(assignment) %></td>
      <td><%= mail_to assignment.parent_service.owner %></td>
      <td><%= link_to_remote 'Delete',
                              :url => service_service_assignment_path(assignment),
                              :confirm => 'Are you sure?',
                              :method => :delete if allow_perm(service,'updater') && allow_perm(assignment.parent_service,'updater') %></td>
  </tr>
  <%- end %>
  </tbody>
  </table>
<%- else -%>
  <strong><%= tooltip(NodeGroup,:parent_services,'Service Parents') %></strong><br /><br />
  <p>This service does not have any parents.</p>
<%- end -%>

<%= @tooltips if ttflag %>
