<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<%- if node_group.assignments_as_child.count > 0 -%>
  <table cellspacing="0" class="styled" summary="A list of the parent node_groups assigned to this node_group.">
  <h3><%= tooltip(NodeGroup,:parent_groups) %></h3>
  <thead>
  <tr>
      <th><%= tooltip(NodeGroup,:name) %></th>
      <th><%= tooltip(NodeGroup,:assigned_at) %></th>
      <th><%= tooltip(NodeGroup,:owner) %></th>
      <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%- for assignment in node_group.assignments_as_child.sort{|a,b| a.parent_group.name <=> b.parent_group.name} %>
  <tr class="<%= cycle('odd', 'even') -%>" id="<%= dom_id(assignment) %>">
      <td><%= link_to assignment.parent_group.name, node_group_path(assignment.parent_group) %></td>
      <td><%= link_to h(assignment.assigned_at.to_formatted_s(:long)), node_group_node_group_assignment_path(assignment) %></td>
      <td><%= mail_to assignment.parent_group.owner %></td>
      <td><%= link_to_remote 'Delete',
                              :url => node_group_node_group_assignment_path(assignment),
                              :confirm => 'Are you sure?',
                              :method => :delete if allow_perm(node_group,'updater') && allow_perm(assignment.parent_group,'updater') %></td>
  </tr>
  <%- end %>
  </tbody>
  </table>
<%- else -%>
  <strong><%= tooltip(NodeGroup,:parent_groups) %></strong><br /><br />
  <p>This node_group does not have any parents.</p>
<%- end -%>

<%= @tooltips if ttflag %>
