<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<%- if node_group.node_group_node_assignments.count > 0 -%>
  <table cellspacing="0" class="styled" summary="A list of the nodes assigned to this node_group.">
  <caption><%= tooltip(NodeGroup,:nodes) %></caption>
  <thead>
  <tr>
      <th><%= tooltip(NodeGroup,:name) %></th>
      <th><%= tooltip(NodeGroup,:assigned_at) %></th>
      <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%- for assignment in node_group.real_node_group_node_assignments.sort{|a,b| a.node.name <=> b.node.name} %>
  <tr class="<%= cycle('odd', 'even') -%>" id="<%= dom_id(assignment) %>">
      <td><%= link_to assignment.node.name, node_path(assignment.node) %></td>
      <td><%= link_to h(assignment.assigned_at.to_formatted_s(:long)), node_group_node_assignment_path(assignment) %></td>
      <td><%= link_to_remote 'Delete',
                              :url => node_group_node_assignment_path(assignment),
                              :confirm => 'Are you sure?',
                              :method => :delete %></td>
  </tr>
  <%- end %>
  </tbody>
  </table>

<%- end -%>

<%= @tooltips if ttflag %>
