<div id="tag_list">
  <%= render :partial => 'tag_list', :locals => { :tags => @node_group.tags } %>
</div>

<p id="add_tag_link">
  <%- if allow_perm(@node_group, ['updater']) %>
    <%= link_to_function 'Add Tag', "Element.show('add_tag');Element.hide('add_tag_link')" %> 
  <%- end -%>
</p>

<div id="add_tag">
  <p>
  <% remote_form_for :tagging, :url => {:controller => 'taggings', :action => :create, :div => 'tag_list', :partial => 'node_groups/tag_list', :refcontroller => 'node_groups'  } do |f| %>
    <%= f.select(:tag_id, Tag.all.collect{|a| [a.name,a.id]}) %>
    <%= f.hidden_field(:taggable_id, {:value => node_group.id}) %>
    <%= f.hidden_field(:taggable_type, {:value =>'NodeGroup'}) %>
    <%= submit_tag "Add" %> <%= "| " + link_to_function('Create New', "Element.show('new_tag');Element.hide('add_tag')") if allow_perm(Tag,'creator') %> | <%= link_to_function 'Cancel', "Element.hide('add_tag'), Element.show('add_tag_link')"%></p>
  <%- end -%>
  </p>
</div>

<div id="new_tag">
  <% remote_form_for :node_group, :url => {:action => :add_tag, :id => node_group.id } do %>
    <%= text_field_tag :tag %>
    <%= submit_tag "Add" %> | <%= link_to_function 'Cancel', "Element.hide('new_tag'); Element.show('add_tag_link')"%></p>
  <% end %>
</div>
