<%- @tooltips = [] %>
<%- @page_title = "Node Group: #{@node_group.name}" %>

<div class="record_view">

  <h1><%= tooltip(Node,:node_groups,'Node Group') + ": #{@node_group.name}" %></h1>
  <%= "<p><strong><font color='green'>(" + tooltip(Vip,:lb_pools,'Load Balancer Service Group') + ")</font></strong></p>" if @node_group.lb_profile -%>
  <%- if @node_group.is_service? -%>
    <%= button_to 'View as Application Service Group', @node_group.to_service, :method => 'get' -%>
  <%- else -%>
    <p><font size=-5><%= button_to 'Convert to Application Service Group', :controller => 'node_groups', :action => 'convert_to_appservice', :id => @node_group %></font></p>
  <%- end -%>
  <br />
  <p><strong><%= tooltip(NodeGroup,:owner) %>:</strong><br />
  <%= @node_group.owner %></p>
  <p>
    <strong><%= tooltip(NodeGroup,:cpu_percent) %>:</strong>&nbsp&nbsp<font color=green><%= @percent_cpu_today %></font> <small><br />
    (1 day ago <%= "based on sample data from <font color=green>#{@percent_cpu_node_count}</font> nodes" if @percent_cpu_node_count %>)</small><br />
  </p>
  <p><strong><%= tooltip(NodeGroup,:description) %>:</strong><br />
  <%= textilize_without_paragraph(h(@node_group.description)) %></p>
  
  <p class="metadata"><strong><%= tooltip(NodeGroup,:created_at) %>:</strong> <%= h(@node_group.created_at) %><br />
  <strong><%= tooltip(NodeGroup,:updated_at) %>:</strong> <%= h(@node_group.updated_at) %></p>

</div>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<p><%= @cpu_percent_chart %><br /><br />

<!-- BEGIN NG RELATIONSHIPS -->
<div class="relationship">
  <div id="child_group_assgns">
    <%= render :partial => 'child_group_assignments', :locals => { :node_group => @node_group} %>
  </div>
  <div id="create_child_assignment">
    <%= render :partial => 'create_child_assignment' %>
  </div>
  <p id="add_child_link">
    <%= render :partial => 'add_child_link' %>
  </p>

  <div id="parent_group_assgns">
    <%= render :partial => 'parent_group_assignments', :locals => { :node_group => @node_group} %>
  </div>
  <div id="create_parent_assignment">
    <%= render :partial => 'create_parent_assignment' %>
  </div>
  <p id="add_parent_link">
    <%= render :partial => 'add_parent_link' %>
  </p>
</div>
<!-- END NG RELATIONSHIPS -->

<!-- BEGIN NG TREE -->
<div class="relationship">
  <%= link_to 'View Diagram', :action => "graph_node_groups", :id => @node_group %><br /><br />
  <strong><%= tooltip(NodeGroup,:child_groups) %>:</strong>
    <ul>
    <div id="child_group_assignments">
      <%= render :partial => 'shared/child_node_group_assignment', :collection => @node_group.assignments_as_parent %>
    </div>
    </ul>

  <strong><%= tooltip(NodeGroup,:parent_groups) %>:</strong>
    <ul>
    <div id="parent_group_assignments">
    <%= render :partial => 'shared/parent_node_group_assignment', :collection => @node_group.assignments_as_child %>
    </div>
    </ul>
</div>
<!-- END NG TREE -->

<!-- BEGIN NODE RELATIONSHIPS -->
<div class="relationship">
  <div id="real_nodes">
    <%= render :partial => 'real_node_assignments', :locals => { :node_group => @node_group} %>
  </div>
  <div id="create_node_assignment">
    <%= render :partial => 'create_node_assignment' %>
  </div>
  <p id="add_node_link">
    <%= render :partial => 'add_node_link' %>
  </p>
  <div id="virtual_nodes">
    <%= render :partial => 'virtual_node_assignments', :locals => { :node_group => @node_group, :virtuals_through => @virtuals_through } %>
  </div>
</div>
<!-- END NODE RELATIONSHIPS -->

<div class="relationship">

<%= render :partial => 'shared/comments', :locals => { :object => @node_group} %>

</div> <!-- end relationship -->

<p><%= link_to 'Edit', edit_node_group_path(@node_group) %> | 
<%= link_to 'Delete', node_group_path(@node_group), :confirm => 'Are you sure?', :method => :delete %></p>

<%= render :partial => 'shared/version_information', :locals => { :object => @node_group} %>
<%= javascript_tag "Element.hide('create_parent_assignment')" %>
<%= javascript_tag "Element.hide('create_child_assignment')" %>
<%= javascript_tag "Element.hide('create_node_assignment')" %>

<%= @tooltips %>
