<tr class="<%= cycle('odd', 'even') -%>">
  <td nowrap="nowrap" width="5%"><%= link_to 'View', self.send(index_row.class.to_s.underscore + '_path', index_row) %> / <%= link_to 'Edit', self.send('edit_' + index_row.class.to_s.underscore + '_path', index_row) %>
  <td><%= link_to index_row.parent_service.name, node_group_path(index_row.parent_service) %></td>
  <td><%= link_to index_row.child_service.name, node_group_path(index_row.child_service) %></td>
  <td><%= link_to index_row.assigned_at.to_formatted_s(:long), service_service_assignment_path(index_row) %></td>
</tr>
