<%- @tooltips = [] %>
<%- @page_title = "Comment" %>

<div class="record_view">

<h1><%= tooltip(nil,:comment,nil,comments_tooltip) %></h1>

<strong><%= tooltip(Comment,:account) %>:</strong> <%= link_to @comment.account.login, @comment.account %><br />
<strong><%= tooltip(Comment,:commentable,'Comment on') %>:</strong>
<% if @comment.commentable.class.respond_to?('default_search_attribute') %>
  <%= link_to(@comment.commentable.send(@comment.commentable.class.default_search_attribute), @comment.commentable)  + ' (' + @comment.commentable_type + ')' %><br />
<% else %>
  <%= link_to @comment.commentable_type + ' ' + @comment.commentable_id.to_s, @comment.commentable %><br />
<% end %>

<p><strong><%= tooltip(nil,:comment,nil,comments_tooltip) %>:</strong><br />
<%= textilize_without_paragraph(h(@comment.comment)) %></p>

<p class="metadata"><strong><%= tooltip(Comment,:created_at) %>:</strong> <%= h(@comment.created_at) %></p>

</div>

<%= @tooltips %>
