<%- @tooltips = [] %>
<%- @page_title = "ToolTip" %>

<div class="record_view">

<h1>ToolTip</h1>

<strong><%= tooltip(ToolTip,:model) %>:</strong> <%= @tool_tip.model %><br />
<strong><%= tooltip(ToolTip,:attr) %>:</strong> <%= @tool_tip.attr %><br />
<p><strong><%= tooltip(ToolTip,:description) %>:</strong><br />
<%= textilize_without_paragraph(h(@tool_tip.description )) %></p>

<p class="metadata"><strong><%= tooltip(ToolTip,:created_at) %>:</strong> <%= h(@tool_tip.created_at) %></p>

</div>

<%= @tooltips %>
