<p><strong>Name:</strong> <em>*</em> <br/><%= f.text_field :name %></p>

<p><strong>Manager:</strong> <br/><%= f.text_field :manager %></p>

<p><strong>Support phone number:</strong> <br/><%= f.text_field :support_phone_number %></p>

<p><strong>Support email:</strong> <br/><%= f.text_field :support_email %></p>

<p><strong>Support url:</strong> <br/><%= f.text_field :support_url %></p>

<p><strong>Physical address:</strong> <br/><%= f.text_area :physical_address, {"cols" => 40, "rows" => 6} %></p>

<p><strong>Shipping address:</strong> <br/><%= f.text_area :shipping_address, {"cols" => 40, "rows" => 6} %></p>