<tr class="<%= cycle('odd', 'even') -%>">
  <td nowrap="nowrap" width="5%"><%= link_to 'View', self.send(index_row.class.to_s.underscore + '_path', index_row) %> / <%= link_to 'Edit', self.send('edit_' + index_row.class.to_s.underscore + '_path', index_row) %>
  <td><%= link_to index_row.name, self.send(index_row.class.to_s.downcase + '_path', index_row) %> / <%= link_to 'Visualize', visualization_datacenter_path(index_row) %></td>
</tr>