<%- @tooltips = [] %>
<%- @page_title = "Database Instance Relationship: " + h(@database_instance_relationship.id) %>

<div class="record_view">

<h1><%= tooltip(DatabaseInstance,:node_database_instance_assignment,'Database Instance Relationship') %></h1>

<p><strong><%= tooltip(DatabaseInstanceRelationship,:database) %>:</strong> <%= link_to h(@database_instance_relationship.from.name), database_instance_path(@database_instance_relationship.from) %><br />
<strong><%= tooltip(DatabaseInstanceRelationship,:from,'has a relationship of') %>:</strong> <%= h(@database_instance_relationship.name) %> <br />
<strong><%= tooltip(DatabaseInstanceRelationship,:to,'to Database') %>:</strong> <%= link_to h(@database_instance_relationship.to.name), database_instance_path(@database_instance_relationship.to) %> <br />
<strong><%= tooltip(DatabaseInstanceRelationship,:assigned_at) %>::</strong> <%= h(@database_instance_relationship.assigned_at.to_formatted_s(:long)) %></p>

<p class="metadata"><strong><%= tooltip(DatabaseInstanceRelationship,:created_at) %>::</strong> <%= h(@database_instance_relationship.created_at) %><br />
<strong><%= tooltip(DatabaseInstanceRelationship,:updated_at) %>::</strong> <%= h(@database_instance_relationship.updated_at) %></p>

</div>

<p><%= link_to 'Edit', edit_database_instance_relationship_path(@database_instance_relationship) %> | 
<%= link_to 'Delete', database_instance_relationship_path(@database_instance_relationship), :confirm => 'Are you sure?', :method => :delete %></p>

<%= render :partial => 'shared/version_information', :locals => { :object => @database_instance_relationship} %>

<%= @tooltips %>
