<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<% remote_form_for( :service_service_assignment, :url => self.send('service_service_assignments_path') ) do |f| %>
  <p><%= tooltip(ServiceServiceAssignment,:parent_service) %>:
  
  <%- service_array = Service.def_scope.find(:all, :order => :name).collect { |r| [ r.name, r.id ] } -%>
  
  <%= f.select( :parent_id, service_array, { :include_blank => true } ) %>
  <%= f.hidden_field( :child_id, { :value => @service.id } ) %>

  <%= submit_tag "Assign", :onclick => "$('service_assignment_id').value = _parent_id" %> | <%= link_to_function 'Cancel', "Element.show('add_parent_link');Element.hide('create_parent_assignment')"%></p>

<% end %>

<%= @tooltips if ttflag %>
