<%- @tooltips = [] %>
<%- @page_title = "Storage Controller: " + h(@storage_controller.name) %>

<div class="record_view">

<h1><%= tooltip(StorageController,:name) %>: <%=h @storage_controller.name %></h1>

<p><strong><%= tooltip(StorageController,:node) %>:</strong> <%= link_to h(@storage_controller.node.name), node_url(@storage_controller.node_id) if !@storage_controller.node_id.nil? %></p>
<p><strong><%= tooltip(StorageController,:drives) %>: </strong>
<%- if @storage_controller.drives -%> 
  <ul>
  <%- @storage_controller.drives.each do |drive| -%> 
    <%= "<li>" + link_to(drive.name, drive) + "</li>" -%>
  <%- end -%>
  </ul>
<%- end -%>

<p><strong><%= tooltip(StorageController,:product) %>:</strong> <%= h(@storage_controller.product) %></p>
<p><strong><%= tooltip(StorageController,:description) %>:</strong> <%= h(@storage_controller.description) %></p>
<p><strong><%= tooltip(StorageController,:physid) %>:</strong> <%= h(@storage_controller.physid) %></p>
<p><strong><%= tooltip(StorageController,:vendor) %>:</strong> <%= h(@storage_controller.vendor) %></p>
<p><strong><%= tooltip(StorageController,:handle) %>:</strong> <%= h(@storage_controller.handle) %></p>
<p><strong><%= tooltip(StorageController,:controller_type) %>:</strong> <%= h(@storage_controller.controller_type) %></p>
<p><strong><%= tooltip(StorageController,:businfo) %>:</strong> <%= h(@storage_controller.businfo) %></p>
<p><strong><%= tooltip(StorageController,:slot) %>:</strong> <%= h(@storage_controller.slot) %></p>
<p><strong><%= tooltip(StorageController,:firmware) %>:</strong> <%= h(@storage_controller.firmware) %></p>
<p><strong><%= tooltip(StorageController,:logicalname) %>:</strong> <%= h(@storage_controller.logicalname) %></p>
<p><strong><%= tooltip(StorageController,:cache_size) %>:</strong> <%= h(@storage_controller.cache_size) + 'MB' unless @storage_controller.cache_size.nil? %></p>
<p><strong><%= tooltip(StorageController,:batteries) %>:</strong> <%= h(@storage_controller.batteries) %></p>

<p class="metadata"><strong><%= tooltip(StorageController,:created_at) %>:</strong> <%= h(@storage_controller.created_at) %><br />
<strong><%= tooltip(StorageController,:updated_at) %>:</strong> <%= h(@storage_controller.updated_at) %></p>

</div>

<%= @tooltips %>
