<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<p><strong><%= tooltip(NodeRackNodeAssignment,:node_rack,'Rack') %>:</strong> <br /><%= f.select :node_rack_id, NodeRack.find(:all, :order => 'name').collect { |r| [ r.name, r.id ] }, { :include_blank => true } %></p>

<p><strong><%= tooltip(NodeRackNodeAssignment,:node) %>:</strong> <br /><%= f.select :node_id, Node.find(:all, :order => 'name').collect { |n| [ n.name, n.id ] }, { :include_blank => true } %></p>

<p><strong><%= tooltip(NodeRackNodeAssignment,:position) %>:</strong> <br /><%= f.text_field :position %></p>

<p><strong><%= tooltip(NodeRackNodeAssignment,:assigned_at) %>:</strong> <br/><%= f.datetime_select :assigned_at %></p>

<%= @tooltips if ttflag %>
