<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<tr class="<%= cycle('odd', 'even') -%>">
  <td nowrap="nowrap" width="5%"><%= link_to 'View', self.send(index_row.class.to_s.underscore + '_path', index_row) %> 
<%- if allow_perm(index_row, ['updater']) %>
 / <%= link_to 'Edit', self.send('edit_' + index_row.class.to_s.underscore + '_path', index_row) %>
<%- end -%></td>
  <td><%= index_row.account_group.name =~ /\.self$/ ? link_to(index_row.account_group.authz.login, index_row.account_group.authz) : link_to(index_row.account_group.name, index_row.account_group) if index_row.account_group %></td>
  <td><%= index_row.role.name if index_row.role %></td>
  <%- if index_row.role && index_row.role.authorizable -%>
    <td><%= link_to(index_row.role.authorizable.send(index_row.role.authorizable.class.default_search_attribute), index_row.role.authorizable) + " (#{index_row.role.authorizable.class.to_s})" %></td> 
  <%- else -%>
    <%- if index_row.role && index_row.role.authorizable_type -%>
      <td><%= link_to(index_row.role.authorizable_type, url_for(:controller => index_row.role.authorizable_type.tableize)) + " (Model Class)" %>
    <%- else -%> 
      <td></td>
    <%- end -%>
  <%- end -%>
  <td><%= index_row.created_at %></td>
</tr>
<%= @tooltips if ttflag %>
