<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<p><strong><%= tooltip(Account,:name)%>:</strong> <em>*</em> <br /><%= f.text_field :name %></p>
<p><strong><%= tooltip(Account,:email_address)%>:</strong> <em>*</em> <br /><%= f.text_field :email_address %></p>
<p><strong><%= tooltip(Account,:login)%>:</strong> <em>*</em><br /><%= f.text_field :login %></p>
<p><strong><%= tooltip(Account,:password)%>:</strong> <em>*</em><br /><%= f.password_field :password %></p>
<p><strong>Password Confirmation:</strong> <em>*</em> <br /><%= f.password_field :password_confirmation %></p>
<%= @tooltips if ttflag %>
