<p><strong>Name:</strong> <em>*</em> <br /><%= f.text_field :name %></p>
<p><strong>Email Address:</strong> <em>*</em> <br /><%= f.text_field :email_address %></p>
<p><strong>Login:</strong> <em>*</em><br /><%= f.text_field :login %></p>
<p><strong>Password:</strong> <em>*</em><br /><%= f.password_field :password %></p>
<p><strong>Password Confirmation:</strong> <em>*</em> <br /><%= f.password_field :password_confirmation %></p>
<p><%= f.check_box :admin %> <strong>Admin account</strong></p>