<%- @tooltips = [] %>
<%- @page_title = "Account: " + h(@account.login) %>

<div class="record_view">

<h1><%= tooltip(Account,:login,'Account')%>: <%=h @account.login %></h1>

<p><strong><%= tooltip(Account,:name)%>:</strong> <%=h @account.name %><br />
<strong><%= tooltip(Account,:email_address)%>:</strong> <%=h @account.email_address %><br />
<%= link_to "User Audits", audits_path(:exact_user_id => @account.id) %>
</p>

<p class="metadata"><strong><%= tooltip(Account,:created_at)%>:</strong> <%= h(@account.created_at) %><br />
<strong><%= tooltip(Account,:updated_at)%>:</strong> <%= h(@account.updated_at) %></p>

</div>

<!-- table list of all accounts and permissions attr to this obj -->
<div id='roles'>
  <%= render :partial => 'shared/roles', :locals => {:obj => @account.authz} %>
</div>

<div class=relationship>
  <%= render :partial => 'account_groups', :locals => {:obj => @account.authz} %>
</div>

<%= @tooltips %>
