<%- @tooltips = [] %>
<%- @page_title = "Account: " + h(@account.login) %>

<div class="record_view">

<h1><%= tooltip(Account,:login,'Account')%>: <%=h @account.login %></h1>

<%- if @account.admin? -%>
<p><em>This is an admin account.</em></p>
<%- end -%>

<p><strong><%= tooltip(Account,:name)%>:</strong> <%=h @account.name %><br />
<strong><%= tooltip(Account,:email_address)%>:</strong> <%=h @account.email_address %><br />
<%= link_to "User Audits", audits_path(:user_id => @account.id) %>
</p>

<p class="metadata"><strong><%= tooltip(Account,:created_at)%>:</strong> <%= h(@account.created_at) %><br />
<strong><%= tooltip(Account,:updated_at)%>:</strong> <%= h(@account.updated_at) %></p>

</div>

<p><%= link_to 'Edit', edit_account_path(@account) %> | 
<%= link_to 'Delete', account_path(@account), :confirm => 'Are you sure?', :method => :delete %></p>

<%= render :partial => 'shared/version_information', :locals => { :object => @account} %>
<%= @tooltips %>
