<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<%- pixel_height_of_node = 12 -%>

<div class="v_rack">

<div class="v_rack_name"><%= tooltip(Node,:node_rack,'RACK') %>: <%= link_to h(node_rack.name), node_rack_path(node_rack) %></div>

<div class="v_rack_container" style="height:<%= (node_rack.u_height * 25).to_s %>px;">

<ul class="v_rack_node">
<%- node_rack.node_rack_node_assignments.each do |assignment| -%>
<% if assignment.node.hardware_profile.outlet_type == 'Blade' %>
  <li class="v_chassis" style="background-color:<%=h(assignment.node.hardware_profile.visualization_color)%>"><%= link_to h(assignment.node.visualization_summary), node_path(assignment.node) %>
  <ul class="v_chassis_container">
    <% assignment.node.produced_outlets.each do |outlet| %>
      <% next if outlet.consumer.nil? %>
      <li class="v_chassis_node"><%= link_to h("Slot " + outlet.name + ": " + outlet.consumer.visualization_summary), node_path(outlet.consumer),  { :style => 'background-color:' + h(outlet.consumer.hardware_profile.visualization_color) + ';height:' + ((outlet.consumer.hardware_profile.rack_size || 0)*pixel_height_of_node).to_s + 'px;line-height:'+  ((outlet.consumer.hardware_profile.rack_size || 0)*pixel_height_of_node).to_s + 'px;' } %></li>
    <% end %>
  </ul>
    </li>
<% else %>
  <li><%= link_to h(assignment.node.visualization_summary), node_path(assignment.node), { :style => 'background-color:' + h(assignment.node.hardware_profile.visualization_color) + ';height:' + ((assignment.node.hardware_profile.rack_size || 0)*pixel_height_of_node).to_s + 'px;line-height:'+  ((assignment.node.hardware_profile.rack_size || 0)*pixel_height_of_node).to_s + 'px;' } %></li>

  <% end %>

<%- end -%>
</ul>

</div>

</div>

<%= @tooltips if ttflag %>
