<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<div id="comments">
<p>
<h2><%= tooltip(nil,:comments,nil,comments_tooltip) %>:</h2>
<%- if object.comments.length > 0 -%>
  <ul>
  <%- object.comments.each do |comment| -%>
    <li><%= link_to(comment.created_at, comment) + ' (' + link_to(comment.account.login, comment.account) + ')' %>: <%= h(comment.comment) %></li>
  <%- end -%>
  </ul>
<%- else -%>
  <p>This <%= object.class.to_s.humanize.downcase %> does not have any comments.</p>
<%- end -%>

<div id="add_comment">
<% remote_form_for(:comment, :url => self.send("comments_path")) do |f| %>
  <%= f.text_field :comment %>
  <%= f.hidden_field :commentable_id, { :value => object.id } %>
  <%= f.hidden_field :commentable_type, { :value => object.class.to_s } %>
  <%= submit_tag 'Add Comment' %> | <%= link_to_function 'Cancel', "Element.show('add_comment_link');Element.hide('add_comment')" %>
<% end %>
<br/>
</div>

<script type="text/javascript">
  Element.hide('add_comment')
</script>


<div id="add_comment_link">
<p><%= link_to_function 'Add Comment', "Element.show('add_comment');Element.hide('add_comment_link')" if allow_perm(@object, ['updater']) %></p>
</div>

</p>
</div> <!-- end comments -->

<%= @tooltips if ttflag %>
