<% remote_form_for( (from + '_' + to + '_assignment').to_sym, :url => self.send(from + '_' + to + '_assignments_path') ) do |f| %>
  <p><%= to.underscore.titleize %>:
  
  <%- to_array = to.camelize.constantize.find(:all, :order => 'name').collect { |r| [ r.name, r.id ] } -%>
  
  <%= f.select( (to+'_id').to_sym, to_array, { :include_blank => true } ) %>
  <%= f.hidden_field( (from+'_id').to_sym, { :value => '0' } ) %>
  
  <%= submit_tag "Assign", :onclick => "$('"+from+"_"+to+"_assignment_"+from+"_id').value = _"+from+"_id" %> | <%= link_to_remote "New "+to.titleize, :url => self.send('new_'+ to + '_path'), :update => 'new_'+to, :complete => "Element.show('new_" + to + "')" %> | <%= link_to_function 'Cancel', "Element.show('add_" + to + "_assignment_link');Element.hide('create_" + to + "_assignment');Element.hide('new_" + to + "')"%></p>
<% end %>
