<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<%- @page_title = objects.first.class.to_s.underscore.titleize.pluralize %>
<h1><%= root_model_tooltip(objects.first.class) || objects.first.class.to_s.underscore.titleize.pluralize %></h1>

<table width="100%">
<tr>

<td>
<%= link_to('New ' + objects.first.class.to_s.titleize, self.send('new_' + objects.first.class.to_s.underscore + '_path')) if objects.first.class != Audit && allow_perm(objects.first.class, ['creator']) %><br/>
<%= page_entries_info objects %>
</td>

<td align="right">
<% if self.respond_to?('search_' + objects.first.class.to_s.underscore.pluralize + '_path') -%>
  <%= link_to 'Advanced Search', self.send('search_' + objects.first.class.to_s.underscore.pluralize + '_path') unless objects.first.class == Audit %><br/>
<% end -%>
<% if objects.first.class.respond_to?('default_search_attribute') && objects.first.class != Audit -%>
  Search by <%= objects.first.class.default_search_attribute %>: <% form_tag self.send(objects.first.class.to_s.underscore.pluralize + '_path'), :method => :get do -%>
    <%= text_field_tag objects.first.class.default_search_attribute -%><br />
    <%= check_box_tag 'enable_aliases' %> include aliases<br/>
  <% end %>
<% end -%>
</td>

</tr>
</table>

<div id="results_table">
<%= render :partial => 'shared/results_table', :locals => { :objects => objects } %>
</div> <!-- end results_table div -->

<% if @csvon %>
   <div id="advanced_csv_export">
      <%= render :partial => 'shared/advanced_csv_export' -%>
   </div>
   <div id="basic_csv_export">
      <%= render :partial => 'shared/basic_csv_export' %>
   </div>
   <div id="csv_inline_link">
      <%= render :partial => 'shared/csv_inline_link' %>
   </div>
<% end %>
<%= javascript_tag "Element.hide('advanced_csv_export')" -%>

<%= @tooltips if ttflag %>
