<h3>Version History | <%= link_to_function 'Show/Hide', "Element.toggle('version_table')" %></h3> 

<table cellspacing="0" class="arversions" summary="A version history of this object." id="version_table">
  <thead>
    <tr>
      <th>Version (Date)</th>
      <th>Who</th>
      <th>Type</th>
      <th>Attributes</th>
    </tr>
  </thead>
  <tbody>
    <%- master_object.audits.each do |audit| -%>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td>
          <%= h(audit.version) %><br/>
          <span class="arversion_date">(<%= h(audit.created_at.to_formatted_s(:short)) %>)</span>
        </td>
        <td>
          <%- if !audit.user_type.nil? && !audit.user_id.nil? -%>
            <%- audit_user = audit.user_type.constantize.find(audit.user_id)-%>
            <%- if !audit_user.nil? -%>
              <%= h(audit_user.login) %>
            <%- end -%>
          <%- end -%>
        </td>
        <td>
          <%= h(audit.action) %>
        </td>
        <td>
          <table cellspacing="0" class="arattributes" summary="Changes in this version of the model.">
            <%- audit.changes.each do |attribute, oldnew| -%>
              <%- oldvalue = nil -%>
              <%- newvalue = nil -%>
              <%- if oldnew.kind_of?(Array) -%>
                <%- oldvalue = oldnew[0] -%>
                <%- newvalue = oldnew[1] -%>
              <%- else -%>
                <%- newvalue = oldnew -%>
                <%- previous_audit = audit.ancestors[-2] -%>
                <%- if !previous_audit.nil? -%>
                  <%- oldvalue = previous_audit.revision.send(attribute) -%>
                <%- end -%>
              <%- end -%>
              <%- # Treat nil and '' as the same -%>
              <%- if oldvalue == '' then oldvalue = nil end -%>
              <%- if newvalue == '' then newvalue = nil end -%>
              <%- if oldvalue != newvalue -%>
                <tr>
                  <th><%= h(attribute) %></th>
                  <td>
                    <%- if oldvalue.nil? -%>
                      <ins><%= h(newvalue) %></ins>
                    <%- else -%>
                      <del><%= h(oldvalue) %></del><ins><%= h(newvalue) %></ins>
                    <%- end -%>
                  </td>
                </tr>
              <%- end -%>
            <%- end -%>
          </table>
        </td>
      </tr>
    <%- end %>
  </tbody>
</table>
