<%- @tooltips = [] %>
<%- @page_title = "Virtual Assignment: " + h(@virtual_assignment.virtual_host.name) + '<->' + h(@virtual_assignment.virtual_guest.name) %>

<div class="record_view">

<h1><%= tooltip(Node,:virtual_host) %></h1>

<p><strong><%= tooltip(Node,:virtual_host) %>:</strong> <%= link_to @virtual_assignment.virtual_host.name, node_path(@virtual_assignment.virtual_host) %><br />
<strong><%= tooltip(Node,:virtual_guest) %>:</strong> <%= link_to @virtual_assignment.virtual_guest.name, node_path(@virtual_assignment.virtual_host) %><br />
<strong><%= tooltip(Node,:assigned_at) %>:</strong> <%= h(@virtual_assignment.assigned_at.to_formatted_s(:long)) %></p>

<p class="metadata"><strong><%= tooltip(Node,:created_at) %>:</strong> <%= h(@virtual_assignment.created_at) %><br />
<strong><%= tooltip(Node,:updated_at) %>:</strong> <%= h(@virtual_assignment.updated_at) %></p>

</div>

<%= @tooltips %>
