<%- @tooltips = [] %>
<%- @page_title = "Datacenter Rack Assignment: " + h(@datacenter_node_rack_assignment.datacenter.name) + '<->' + h(@datacenter_node_rack_assignment.node_rack.name) %>

<div class="record_view">

<h1>Datacenter Rack Assignment</h1>

<p><strong><%= tooltip(DatacenterNodeRackAssignment,:datacenter) %>:</strong> <%= h(@datacenter_node_rack_assignment.datacenter.name) %><br />
<strong><%= tooltip(DatacenterNodeRackAssignment,:node_rack,'Rack') %>:</strong> <%= h(@datacenter_node_rack_assignment.node_rack.name) %><br />
<strong><%= tooltip(DatacenterNodeRackAssignment,:assigned_at) %>:</strong> <%= h(@datacenter_node_rack_assignment.assigned_at.to_formatted_s(:long)) %></p>

<p class="metadata"><strong><%= tooltip(DatacenterNodeRackAssignment,:created_at) %>:</strong> <%= h(@datacenter_node_rack_assignment.created_at) %><br />
<strong><%= tooltip(DatacenterNodeRackAssignment,:updated_at) %>:</strong> <%= h(@datacenter_node_rack_assignment.updated_at) %></p>

</div>

<p><%= link_to 'Edit', edit_datacenter_node_rack_assignment_path(@datacenter_node_rack_assignment) %> | 
<%= link_to 'Delete', datacenter_node_rack_assignment_path(@datacenter_node_rack_assignment), :confirm => 'Are you sure?', :method => :delete %></p>

<%= render :partial => 'shared/version_information', :locals => { :object => @datacenter_node_rack_assignment} %>

<%= @tooltips %>
